.ios,
.android
  body.account_chooser
    .mobile-description
      display: block

    .non-mobile-description
      display: none

body.account_chooser
  .mobile-description
    display: none

  .non-mobile-description
    display: block


  #account-chooser-wrapper, #password-wrapper, #please-wait-wrapper
    .outer
      @include flex-centered
      height: 100%

    .well
      width: 600px
      margin-top: 20px
      max-width: 100%

  #password-wrapper
    .email-control-group
      display: none

    .password-control-group
      label
        display: none
