<section id="direct-reports" class="tab tab-pane">
  <div class="user-wrapper">
    <div class="main pagelet" data-endpoint="<%= direct_reports_user_path(network: params[:network]) %>">
      <%= image_tag "icons/outlook-progress.gif", class: "centered"%>
    </div>
  </div>
</section>
