<section id="received" class="tab tab-pane active">
  <div id="profile-recognitions-received" class="recognitions pagelet" data-endpoint="<%= received_recognitions_user_path(network: params[:network]) %>">
    <div class="loading-wrapper">
      <%= image_tag "icons/outlook-progress.gif" %>
    </div>
  </div>
</section>
