<section id="sent" class="tab tab-pane">
  <div id="profile-recognitions-sent" class="recognitions pagelet" data-endpoint="<%= sent_recognitions_user_path(network: params[:network]) %>">
    <%= image_tag "icons/outlook-progress.gif", class: "centered"%>
  </div>
</section>
