$headerBg: #adb2b6
$linkColor: $headerBg
$btnBlueTopColor: $headerBg
$btnBlueBottomColor: darken(#494c4f, 50%)
$highlightTopColor: #494c4f
$highlightBottomColor: darken($highlightTopColor, 5%)
$buttonPrimaryBg: #00729F
