<h2>Edit Task</h2>
<%= render("form", {
  task: @task,
  tags: @tags,
  company: @company,
  company_roles: @company_roles,
  url: company_admin_task_path(id: @task.id, network: @company.domain)
}) %>