$headerBg: #0072C6
$linkColor: $headerBg
$btnBlueTopColor: $headerBg
$btnBlueBottomColor: darken(#494c4f, 50%)
$highlightTopColor: #F3F5F8
$highlightBottomColor: darken(#F3F5F8, 5%)
$buttonPrimaryBg: #0072C6