.support_emails
  .well
    padding: 39px 3%

    h1
      margin-top: 0

  .blockquote-testimonial
    margin: 1em 15px
    max-width: 360px

    .avatar-img
      width: 60px
      height: 60px
      max-width: 100%
      margin-bottom: 20px
      border-radius: 50%

    .content
      font-size: 20px
      margin-bottom: 5px

@media (max-width: 768px)
  .support_emails
    .well
      margin-bottom: 20px