#company_admin_accounts-show
  .select2-dropdown
    z-index: 10000
  .datepicker
    z-index: 10000 !important
  #edit-accounts
    h2 span p
      display: inline
  .new_bulk_mailer_form
    text-align: left
    .button-group
      input
        display: none
    .button
      width: 20%
    label
      text-align: left
    #bulk_mailer_form_subject
      display: block !important
      font-size: 14px
      width: 100%
    #bulk_mailer_form_body, #bulk_mailer_form_sms_body
      width: 100%
      height: 150px
    #bulk-mail-by_role-detail, #bulk-mail-by_status-detail, #bulk-mail-pending-detail, #bulk-mail-by_team-detail
      display: none
    .badge
      background-color: #ccc
      border-radius: 10px
      font-size: 12px
      padding: 5px
      cursor: pointer
