#home-banking_landing
  .intro
    .image-wrap
      width: 55%
      position: relative
    img
      max-width: 100%
      position: absolute
      bottom: 0

  .brad-buckets
    background: #205b97

    .bucket
      background: #e4effb
