<div class="flex-centered">

  <div class="centered width-800 well white-bg">

    <h1><%= t("signups.thank_you_for_signing_up") %></h1>

    <div class="message-info marginBottom20 text-left">
      <h4><%= t("signups.check_your_email") %></h4>
      <p class="balance-text"><%= t("signups.twenty_four_to_verify") %></p>
    </div>

    <%= image_tag "illustrations/employee_recognitions_screen_color_small.jpg", alt: "A cat next to a human on the Recognize website on a laptop", class: "width-800" %>

  </div>

</div>

