<hr class="hr hr-space marginTop50">
<p class="tagline balance-text">See how Recognize helps companies promote company values and a culture of appreciation.</p>
<%= link_to "Contact us", contact_sales_path, class: "button button-primary button-large" %>

<hr class="hr hr-space section-ends">
