<div id="introduction" class="article-list">
  <h2>What is Okta?</h2>
  <p>Okta is an identity and access management provider whose cloud software allow companies to manage and secure user authentication into modern applications, and allows developers to build identity controls into applications, websites, web services, and devices. Its goal is to create secure connections between people and the technology they use.</p>
</div>


<div id="identity_providers" class="article-list">

  <h2>Why use identity providers?</h2>
  <p>Identity and access management software offer enterprises a streamlined toolset for managing employee access to a host of physical and virtual corporate resources.</p> 
  <%= lazy_image_tag "pages/articles/employee-recognition-in-okta/image1.jpg", alt: "A mouse icon pointing at a 'Security' option" %>
  <%= render partial: "articles/quote", locals: {quote: {
      quote: "Securing access and credentials is now more important than ever, with the 2020 IBM Threat Intelligence Index recording a breach of over 8.5 billion records in 2019, giving attackers access to more stolen credentials than ever before."
  }} %>
  <p>It incorporates three main concepts: identification, authentication, and authorization. These processes help ensure that the right users have the right access while keeping any unauthorized users at bay. Securing access and credentials is now more important than ever, with the 2020 IBM Threat Intelligence Index recording a breach of over 8.5 billion records in 2019, giving attackers access to more stolen credentials than ever before<sup>1</sup>. Even beyond security, there are many other reasons your company may consider using an identity provider:</p>
  <p><strong>Remote work: </strong>As many companies transition into 100% remote-working models, the need for a holistic and secure identity management strategy takes on a newfound importance with users requiring quick access to resources from home. This need for swift and speedy access, however, becomes a balancing act for organizations that also need to consider security requirements, particularly as home networks can be more vulnerable to cybercriminals.</p>
  <p><strong>Dynamic workforces: </strong>Whether employees are being onboarded, promoted, collaborating for a project, or retiring, users may need access granted or revoked quickly, or have access rights and permissions updated. Identity and access management software allow controlling this in an agile and flexible manner.</p>
  <p><strong>Compliance: </strong>Recent regulation now mandates businesses to implement strong security and user access controls to protect employee (and customer) data. Identity and access management can help automate many aspects of data compliance for IT departments for improved security and consistency, while also helping companies adhere to the necessary regulations.</p>
</div>

<div id="employee_recognition_with_okta" class="article-list">
  <h2>Drive employee recognition with Okta</h2>
  <p>Okta’s integration network allows your users to connect to their favorite applications within minutes, helping centralize user management and create seamless customer and employee experiences. An essential element of stellar employee experiences is without a doubt <%= link_to "employee recognition", ways_foster_employee_engagement_path %>. Within Okta you can easily and securely launch company-wide employee recognition and employee engagement strategies by using the Recognize integration. HR managers can access the Recognize hub at the click of a button to quickly distribute employee rewards and recognition.</p>
  <%= lazy_image_tag "pages/articles/employee-recognition-in-okta/image2.jpg", alt: "Screenshot of Recognize app in Okta Integration Network" %>
  <p>With the Recognize integration, you can set up automated employee anniversary recognition, on the spot employee recognition as well as nomination voting. Thanks to Okta’s automation, employees can reduce IT friction and enter the platform from a single click without ever having to enter passwords. This also enables managers to organise employee rewards strategies in a centralized manner,  quickly provisioning people into specific programs or removing them when necessary. It is also perfect for quickly onboarding new employees or revoking access to those who may have left certain departments.</p>
  <p>Managers can even distribute staff rewards safely on the go, using Okta’s simple Single Sign-On for ipads, iphones and android devices. For more information, see the <a href="https://www.okta.com/integrations/recognize/">Recognize integration page </a> and the steps to <a href="https://saml-doc.okta.com/SAML_Docs/How-to-Configure-SAML-2.0-for-Recognize.html">configure SAML 2.0 for Recognize</a> for Okta.</p>
</div>

<hr class="hr hr-space">
<div id="references" class="article-list marginBottom100">
  <h3>References</h3>
  <p> IBM X-Force Threat Intelligence Index, https://www.ibm.com/security/data-breach/threat-intelligence</p>
  <div class="well">
    <h4>Author</h4>
    <p>Alex Grande</p>
  </div>
</div>
