<% @the_basics = [
  {
    image: {
      path: "illustrations/breakroom_birthday_party_color.jpg",
      title: "A birthday party in the break room at an office. Blowing candles on the cake with coworkers."
    },
    title: "<a href='https://recognizeapp.com/employee-anniversaries'>Employee service anniversary</a> & birthday celebrations",
    body: "The number one type of employee recognition is a service recognition program (source: <a target='_blank' href='https://www.worldatwork.org/adimLink?id=78679'>World at Work</a>). For birthdays, many companies may simply give a birthday card to each employee. Thinking outside the box, try using birthday cards from nonprofit organizations, such as BirthdayWishes.org. Try to tie your company with philanthropy to increase staff engagement. It’s a win win win!",
    quotes: [
      {
        background_path: image_path("pages/articles/top_recognition_ideas/boeing.jpg"),
        quote: "An employee that was in my work team who had been working at the company for about 40 years was awarded with a recognition banquet and hearty bonus because of his commitment to the company. This person initially came into the company as a parts runner who picked up and transported parts between our facilities and eventually became a materials engineer all through hard work in the company. This person was recognized in a way that really astounded me; they were shown so much respect. They received a whole banquet as well as the award.",
        author: "Reese Azza at Boeing"
      },
      {
        background_path: image_path("pages/articles/top_recognition_ideas/walter_energy.jpg"),
        quote: "I recently had the 5th anniversary of my working with my company.  My manager and co workers surprised me by having a party in the office with food catered by the place I most like to eat for lunch.  They also had a small plaque made that I now display in my office.  It was a very nice surprise for me as I was not expecting such a short amount of time to be celebrated.",
        author: "Employee at Walter Energy"
      },
      {
        quote: "I had a colleague who would always help us out in the morning. Bring us coffee and donuts to save us the trouble. The guy was great and would always do small things like this. One day, the manager decided to pay him back in a special way. He promoted him on the spot on his birthday.",
        author: "Employee at PC Parlor",
        background_path: image_path("pages/articles/top_recognition_ideas/pc-repair.jpg"),
      }
    ]
  },

  {
    title: "Solid track to promotion",
    body: "Having a clear definition of what it takes to rise up in the company is core to recognizing your employees. For instance, Chipotle’s recognition program for restaurant staff surrounds a fast and clear path to raises and new job titles. If there isn’t a clear track, make sure to keep promoting people who show promise.",
    quotes: [
      {
        quote: "I was hired as a cook and worked hard. Then there was new management that took over. After this happened I was promoted to assistant manager and got recognition for the things I did right and did well.",
        author: "Shane from Pizza Hut",
        background_path: image_path("pages/articles/top_recognition_ideas/pizzahut.jpg")
      },
      {
        quote: "One day my boss approached me and told me that I have what it takes to be an office manager. And that is how I was promoted and got the recognition I deserve.",
        author: "Bill from Lap Mail Delivery",
        background_path: image_path("pages/articles/top_recognition_ideas/mail.jpg")
      }
    ]
  },
  {
      title: "Have an Employee Recognition Program Success Checklist",
      body: "Make sure your company is following best practices in regards to your employee recognition and rewards program. If you don't have an #{link_to 'employee recognition', employee_recognition_app_guide_path} program. Definitely consider reaching out to us at #{link_to 'Recognize', contact_sales_path}. Alternatively, we compiled a list of the #{link_to 'employee recognition programs', employee_recognition_programs_path} out there.

<ul class='bullet-list'>
<li><h4>Brand your program</h4>Don't just call your program Acme Inc's recognition program. Name it Acme All Stars. Give your recognition program a symbol and give it life.</li>
<li><h4>Set goals and have aspirations</h4>It’s important to know why you are creating an employee recognition program, so that you are able to measure success.</li>
<li><h4>Set and track metrics</h4>You should also determine what metrics are important for you to track in order to measure the success of your employee recognition program. It’s important to determine these metrics at the beginning, so that you are able to make sure you are in a position to track these KPIs. Some of the metrics you want to track might take some more development.</li>
<li><h4>Conduct surveys</h4>It’s important to survey your employees before you launch your employee recognition program to get a baseline, and follow up every six months - a year to see how your employee’s answers change over time. It can be a very effective tool to see how successful your employee recognition program is, and can also help you to find ways to make your employee recognition program.</li>
<li><h4>Get different departments involved in the program</h4>Although an employee recognition program might be spearheaded by HR, it’s important that your employee recognition program is managed like any other business initiative - with input and work from many different departments. </li>
<li><h4>Create recognition badges based on company values</h4>You want your employees to be recognized for doing the right things. By centering your recognition badges around company values, you can promote the kind of actions and behaviors you want your employees to exhibit. </li>
<li><h4>Dedicate .5% - 2% of payroll to rewards</h4>Determine your max yearly budget for rewards before you set the monetary values of your recognition badges and rewards, that way you never have to worry about blowing your budget. .5 - 2% of payroll can seem like a lot, but if you don’t think you have the budget for you, look at your yearly bonuses budget. By removing yearly bonuses and using that budget towards rewards, you spread out that good feeling your staff get whenever they get an end of the year bonus over an entire year. </li>
<li><h4>Offer experiences and cash</h4>While employees might tell you they would prefer cash over experiences or gift cards, employees will be less likely to notice an extra $50-$100 tacked onto their paycheck at the end of the month. Furthermore, surveys show that most employees spend their cash bonuses on bills or other expenses. If you offer your employee gift cards or experience based rewards, they are more likely to spend the money on something they want, rather than something they need. When an employee uses their reward points to get a gift card to buy that new item for their hobby or to get a massage for them and their spouse, they will associate that positive memory with their company - making the feeling last longer than a simple $50 tacked onto their paycheck. </li>
<li><h4>Promote your employee recognition program constantly </h4>It’s important to not only promote your program before the launch, but promote it regularly as well. Put up posters, distribute desk cards, and include it in your email signature to constantly remind people about the program and to participate. Create videos of the leadership team talking about the program and interview employees about their favorite recognitions they have received. If you have a tv in the office, use the <a href='https://recognizeapp.com'>Recognize</a> kiosk mode to constantly showcase your recognitions.</li>
<li><h4>Offline recognition with meetings and events</h4>It’s important to recognize people for their participation and hardwork outside of the platform as well to keep people motivated. Managers should be identifying top performers during weekly meetings and making sure to give them a shout-out. At company-wide meetings, the employees who have earned the most badges or have been awarded the same badge the most times should be recognized in front of everyone for their work. You can make it an awards ceremony where you print out awards and offer free food to make sure everyone joins. </li>
</ul>
"
  },

  {
    title: "Recognition backfire",
    body: "Don’t let your recognition program backfire. Don’t recognize employees for things they should be doing already, such as showing up on time. Everyone should show up on time and they do not deserve an award for that. Instead, recognize for going above and beyond, such as showing up early. Also, make sure to recognize everyone and not single people out. It can cause resentment. Plus, ensure you don't recognize contingently. If-then style recognition lead to staff expecting it and motivated by the reward. Let recognition be after the fact and spontaneous. Make sure the recognition is just that, a recognition.",
    quotes: [
      {
        quote: "My boss posted my picture in the company’s lobby as ‘Our Number One Salesman.’ I spent my career trying to prove to prospects and customers that I was concerned with solving their problems and helping them succeed. That, after all, was why I was the number one salesperson. But with one glance, that picture destroyed all that work: turning me, in their eyes, into someone whose goal was to sell to them rather than someone trying to help them buy what they needed.",
        author: "Jeff Bezos",
        background_path: image_path("pages/articles/top_recognition_ideas/bezos.png")
      },
      {
        quote: "I got an award once back for being always on time. Strangely enough I was the only one to receive this. The managers seemed really happy for me, but the other employees seemed nonplussed or even dismissive.",
        author: "Jon at a large US-based mega store",
        background_path: image_path("pages/articles/top_recognition_ideas/mega.jpg")
      }
    ]
  },
  {
    title: "Pay what your staff deserve",
    body: "Paying staff what they deserve is the primary way a company should recognize their employees. If your staff are begging for gift cards, your company needs to pay better. Be sensitive to possible unconscious biases we may have. Try to be objective about staff's worth. Get money off the table to focus on the task at hand."
  },
  {
    title: "Employee farewell parties",
    body: "Celebrate employees who retire or move on from the company.",
    quotes: [
      {
        quote: "I was working at my firm as an employed attorney since September 1986. I worked for the firm and its owners since that time. I decided when I turned 55 in December 2016 to retire and enjoy family and friends more. At my retirement party in March 2016 I was thrilled to have received a picture album of the employees. I also received a put together note book with each person making a suggestion of what to do to enjoy the upcoming time. I also received a gift card to a beautiful Inn.",
        author: "Retired employee from Solomon and Solomon, P.C.",
        background_path: image_path("pages/articles/top_recognition_ideas/man-party.jpg")
      },
      {
        quote: "A lead programmer at our company had found another job that was extremely beneficial to them financially. He was very important for our organization, but we also knew that he deserved more money than we could offer him. So we threw him a nice going away party and thanked him for all his service.",
        author: "Eric from Qflow Systems",
        background_path: image_path("pages/articles/top_recognition_ideas/qflow.jpg")
      }
    ]
  },
  {
    title: "More company values, less rules",
    body: "Do not focus on specific behaviors as much with recognition and focus more on values. Imagination and creativity are stifled when people are told exactly what to do."
  },
  {
    title: "Promote company values through meaningful recognition",
    body: "Make the company values in your recognition program visible at all times. Create posters about the company values. Create a large infographic about the company values in your lobby. Make the company values truly a part of the organization. Facebook hashtag posters everywhere with the phrase 'Hack' and 'Move Fast and Break Stuff'.<br><br>Tie in company values to recognition. Sixty-four percent of recognition programs' main goal is to promote company values. While it doesn’t have to be your main goal, it is a strategic advantage to incorporate. Human resources becomes a partner with senior leadership to discover and align company values and initiatives. In fact, 66% of companies say a value-driven recognition program promotes a better company image vs. 28% for non-value driven. (source: <a href='http://go.globoforce.com/rs/862-JIQ-698/images/Globoforce_SHRM_2015.pdf' target='_blank'>Globoforce</a>)"
  },
  {
    title: "Let's get personal",
    body: "Much like remembering everyone’s names, showing you care is huge. For an anniversary or birthday, have the president, or someone significant in the organization, bake a birthday cake from scratch. (source: #{@link1501} pg. 365)"
  },
  {
    title: "Integrated and seamless employee recognition",
    body: "Integrate third party tools into your intranet or internal social network, such as Recognize app. <a href='https://recognizeapp.com'>Recognize</a> sees 8x more recognitions sent when the employees are using it within their workflow. Staying in the workflow is critical and in most instances not hard to do. Recognize app provides integration into Outlook, Sharepoint, Yammer, Slack, and Workplace by Facebook. And if your recognition vendor’s website uses responsive design, then you can insert it as an iFrame in your intranet. You’ll need to talk to them first as there are a few security features that have to be implemented. Don’t make your staff go to yet another website!",
    image: {
    title: 'Recognize screenshot',
    path: 'pages/home-index/recognize-stream-2020.jpg'
}
  },
  {
    title: "Employee Promoter Score (EPS)",
    body: "Companies should be surveying their staff at least once a year. Knowing your company's net promoter score (NPS) is considered the most important metric to move your company forward. But do you know your Employee Promoter Score? The EPS is becoming as important as the NPS. Glassdoor gives great insights, but don’t shy away from finding out yourself. Recognize provides an ongoing survey to measure staff sentiment. Survey often to keep your pulse on the company."
  },

  {
    image: {
      path: "illustrations/awards_on_wall_color.jpg",
      title: "A wall of employee awards on a wall"
    },
    title: "Wall of staff awards",
    body: "When Marin Software added a kiosk of recognitions on their lobby digital signage, peer-to-peer recognition increased. When something isn't easily visible, such as the typical employee recognition form, you can’t expect staff to be using it. To keep recognition top of mind, add a real-time feed of recognitions to company flatscreens and other digital signage. Or go old school. Create award certificates for special accomplishments. Recognize app provides automatic certificate generation using custom embroidery. Companies can print them out and create a wall of special accomplishments. For instance, Hughes Network Systems has an Applause section of their intranet that showcases recognition (source: #{@link1501} pg. 245). Nordstrom also posts recognition letters on a bulletin board for everyone to read (source: #{@link1501} pg. 246)."
  },
  {
    title: "Budgeting",
    body: "For #{link_to('employee rewards', rewards_path)}, set up a budget. World at Work survey shows the average amount spent on rewards is about 1% of payroll. Make sure the rewards system allows you to stay within budget and gives a fair shot to all the employees."
  },
  {
    title: "New year's employee party",
    body: "#{link_to('Company holiday parties', holiday_party_path)} can be something staff are excited about, or they can be ridiculed and avoided. If your culture lacks color, step up the new year's parties by hiring a special music act, a comedian, fun activities like photo booths with props, performers on stilts, a drawing, and special gifts for employees. Help everyone be a winner and have a great time. If at all possible, do not host the end of year party at the office, and instead throw the party at a cool venue."
  },
  {
    title: "Company parties throughout the year!",
    body: "Hold special events for other holidays, not just end of the year celebration. A construction company in California holds a Thanksgiving party for all their staff. All the staff get $100 gift cards to the local grocery store and turkeys. Be sensitive to other cultures. Ask staff what holidays they celebrate and if they want to host an office party. Allowing staff to exhibit their culture engages them on a personal level and gives other staff access to new worlds and appreciations."
  },

  {
      title: 'Mobile',
      body: "<p>Smart phones are now fully entrenched in work culture with mobile SaaS <a href='https://www.strategyanalytics.com/strategy-analytics/news/strategy-analytics-press-releases/strategy-analytics-press-release/2016/07/22/strategy-analytics-global-mobile-saas-will-grow-from-%2420.9b-in-2016-to-reach-%2437.9b-by-2021-a-growth-of-12.7-cagr-over-the-forecast-period'>nearly doubled</a> since 2016. With mobile now outperforming in market share at <a href='https://techjury.net/blog/mobile-vs-desktop-usage'>52.1% compared to 44.2% of Desktop</a>), companies need to pay attention to mobile. That means asking vendors do they have a mobile and mobile web app? Many times, we forget about mobile web, but if the user does not have the app. When they receive an email notification it will take them to the mobile web.</p>
<p>Recognize team predicts linear growth with mobile over the next decade and tapering out. As AI does more work for employees, people will become backups for the system, simply pressing buttons. This may result in computers becoming more like tablets or large smart phones. Employees could be anywhere, standing in their kitchen or at the dog park working on their company issued tablet. </p>
<p>Companies must have a concrete strategy on how to get company communication, core resources, and yes employee recognition on mobile. Ease to information is critical for efficiency and error reduction.</p>
",
      image: {
          path: "pages/home-mobile/apps.png",
          title: "Recognize mobile app"
      },
      quotes: [
          {
              background_path: image_path("pages/articles/top_recognition_ideas/workplace-mobile.jpg"),
              quote: "When I get up before dawn and make coffee, I’m not at a computer. But I’m on my smart phone and I’m checking Workplace by Facebook for our company to see the latest posts.",
              author: "Employee using Workplace by Facebook on mobile"
          }
      ]
  },

  {
    title: "Friendly competition amongst staff",
    body: "Creating a cutthroat culture where individuals are pitted against each other won’t help productivity. However, if you create competition in an isolated setting and between groups of people, it can drive engagement and interest. Corporate wellness programs often incorporate team competition. Sales teams have leaderboards. Create leaderboards across locations or teams. Create competition not around work, but other things like food drives. Create an environment where people want their team to win."
  },
  {
    title: "Adapt to different cultures",
    body: "See if your recognition program can use different wording or features depending on the region. In Japan, employees prefer one-on-one recognition done privately. Australia, Latin America, UK, and USA prefer social employee recognition.",
    quotes: [
      {
        background_path: image_path("pages/articles/top_recognition_ideas/toyota.jpg"),
        quote: "I was new to the company and was still getting used to the conditions and I still remember that I worked really hard for the company day and night. I still remember like it was yesterday when my manager came to me and said that I had won the best employee award. It made me feel like I was in heaven, and that was the happiest moment in my career.",
        author: "Employee at Nippon Toyota"
      }
    ]
  },
  {
    title: "Include contractors",
    body: "Incorporate staff who are contractors or do not have access to corporate email. At Recognize, we hear from a lot of companies who want to provide digital employee recognition to their company, but worry they won’t be able to connect with staff who don’t have corporate email addresses. The solution is finding a way for these employees to onboard and authenticate using an employee ID so they can send, receive, and redeem recognitions from shared terminals or their personal devices."
  },

  {
    title: "Public & private recognition",
    body: "Allow for recognition to be private or public depending on the recipient’s wishes. Some people are more introverted and some more extroverted. Introverted employees will appreciate private recognition while more outgoing employees enjoy giving and receiving public recognition. Provide a program that gives both. This is also true for birthday and anniversary recognition. Older employees especially appreciate more private recognition of tenure and birthday."
  },
  {
    title: "Client-based employee recognition",
    body: "Triumph Property Group uses Recognize app to send recognition in bulk via a spreadsheet of customer feedback. All levels in the organization are recognized- from leadership to the repair staff.",
    quotes: [
      {
        background_path: image_path("pages/articles/top_recognition_ideas/sprint.jpg"),
        quote: "A customer recognized me for giving a great experience. I was totally shocked by the recognition from my coworkers and upper management.",
        author: "Jack from Sprint"
      }
    ]
  },
  {
    title: "Professional development",
    body: "Tie recognition into professional development and skill progression. In the book “<a target=_blank href=https://www.amazon.com/gp/product/1119050782/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1119050782&linkCode=as2&tag=recognizeapp-20&linkId=afa2071c6cb81f5ae03ae289dd86c19c>People Analytics in the Era of Big Data</a>”, the author points out that once-a-year performance reviews are inadequate. If an employee is great during the last month of a performance review, then performs poorly the rest of the year, and picks up again the next performance review period, it can seem as if that employee is fantastic all year round. Only through continuous gathering of employee data will leadership gain real insight, both qualitative and quantitative, into their staff’s performance. Thus, tie a continuous positive feedback mechanism, such as an on-the-spot #{link_to 'employee recognition', employee_recognition_app_guide_path} program, into the performance review process."
  },
  {
    title: "Project-based monthly employee recognition",
    body: "When Michael Winburn (program director at HBO) was at Popagency.com as a project manager, he would write amazing emails whenever a project was completed. He would give a shout out to every employee who worked on the project. The lesson is the more clever and funny, the better the staff engagement. Employee recognition doesn’t have to be complicated, it just has to be fun and from people we respect."
  },
  {
    title: "Individual differences",
    body: "Be sensitive to individual differences in rewards or even team outings. For instance, paintballing may be fun to some employees and quite the opposite to others."
  },

  {
      title: "Industry differences",
      body: "Different industries are faced with different obstacles and challenges. For instance, the medical field is faced with <a href='https://recognizeapp.com/healthcare-burnout-employee-recognition-stats'>healthcare burnout</a>. Medical, like any industry, must evaluate the best strategy as there is rarely an all fits strategy for employee engagement."
  }

]


   @core_strategies =
     {
       image: {
         path: "illustrations/employee_recognitions_screen_color.jpg",
         title: "A computer screen showing the company recognitions."
       },
       title: "Social employee recognition",
       body: "By making an employee recognition program social, your company benefits in a number of ways. It can become viral in your organization, sparking more interest. It can connect your staff across locations. It will rally and focus the company behind specific behaviors, values, or initiatives. For it to be social, add a feed of public recognitions in your intranet. Email or notify managers and the recipient of their recognition. Allow people to comment, share or like the recognitions. Get buy-in from leadership. If the leadership shows interest, others will be engaged.
One important tip is to make sure staff see a feed of recognitions that are relevant to them. For organizations larger than 150 people, try to segment users into different groups and report on what is relevant to them - the people they actually know."
     },
       {
         title: "Peer-to-peer employee recognition",
         body: "Peer-to-peer employee recognition is when any employee can give official praise to another employee in the organization. About 50% of companies that have any kind of recognition utilize peer-to-peer recognition program (source: World at Work). It is meant to be instant and social. At the same time, companies should be sensitive to users who may want to receive recognition privately. The benefits of recognition are huge. In Recognize app, 90% of staff on the platform report looking to stay longer with their employer and being more connected to their employer. For the companies that do not have a peer-to-peer system, their number one complaint is it is too time consuming or difficult to get started. The truth is that getting started is easy if you start small and think big.",
         quotes: [
           {
             background_path: image_path("pages/articles/top_recognition_ideas/911.png"),
             quote: "One person was nominated for the award based on the fact that they had been newly trained on a position and did an outstanding job during a busy time with radio traffic and multiple calls during a storm. This was something a coworker next to this person noticed and was amazed at the professionalism and calmness of this person while working. This was something management would have overlooked as they themselves were busy at the time.",
             author: "Dispatcher from Berks County 911"
           }
         ]
       },

       {
         title: "Manager-to-peer employee appreciation",
         body: "28% of employees report the most memorable recognition they received was from a manager (source: <a href='http://www.gallup.com/businessjournal/193238/employee-recognition-low-cost-high-impact.aspx' target='_blank'>Gallup</a>). All companies with any kind of hierarchy can benefit from manager recognition. Companies with mostly remote employees greatly benefit. A logistics group in the USA has drivers on the road 24/7. Peer-to-peer recognition for this group breaks down. Supervisor recognition reenforces their great work when no one else is there to recognize them. Ideally the program alerts managers of which of their direct reports haven’t been recognized recently to guide managers to ensure every employee is recognized once a month.",
         quotes: [
           {
             background_path: image_path("pages/articles/top_recognition_ideas/michaels.jpg"),
             quote: "My boss gave extra hours and a raise to an employee whose dog had become very sick and he needed more money to cover the medical expenses. He knew that he wouldn’t be able to afford it otherwise, so he gave him a small pay raise and increased hours for over a month.",
             author: "Employee at Michael’s"
           }
         ]
       },
       {
         title: "<a href='https://recognizeapp.com/employee-nominations'>Nomination program</a>",
         body: "Also called an above and beyond program, nominations are the employee of the month programs we already know. The best approach is to incorporate the opinions of all your staff. Ideally staff vote on who is the top employee for specific categories in different time periods. Decide what time periods make sense for your organization. You can have nominations for the month, quarter, and the year. Think of the categories that are important to you. If you are a consulting company, consider innovation or customer service being important. Innovator of the Quarter or Communicator of the Month are both great places to start. Towards the end of the time period, alert staff that voting is now over for that time period. Have a subcommittee decide who are the winners. Don’t restrict yourself to just one person for the winner, feel free to select multiple winners. Don’t just look at who was voted for the most. Look at the reasons behind the nominations. If you keep things systematic, frequent, and democratic, you will actually eliminate favoritism, which is one of the bigger complaints around an employee of the month program. ",
         quotes: [
           {
             background_path: image_path("pages/articles/top_recognition_ideas/alliance.jpg"),
             quote: "I received a 'Best in Staffing' award as part of a team of three recruiters. It was a huge honor because most of the recognized organizations are large, even on multi-national levels. The awards are quite prestigious within the staffing industry, and to be recognized for such a huge honor while being such a small 'blip', so to speak, was phenomenal. It felt much more like a personal success, as all three of us felt our own individual dedication and work directly contributed to the award. It was a huge deal and well celebrated within our larger company.",
             author: "Employee from Alliance Group"
           }
         ]
       },
       {
         title: "Multi-level approver nomination program",
         body: "Big corporations require multiple levels of approval for specific awards, so they can occur anywhere in the organization and bubble up to decision makers. They often have periods of voting and periods of choosing a winner."
       },
       {
         title: "Elevate nomination by manager",
         body: "Set up the nominations so that managers can highlight peer-to-peer recognitions. City of Allen in Texas has city managers elevate the employee recognitions for a monthly prize. The admins then choose the winner. In their program, employees can't be the winner twice in a year."
       },
       {
         title: "Allow for new award winners",
         body: "For nomination voting, set up a system where the top employee can’t be nominated or awarded more than once a year. This way you will always have at least 12 winners."
       },
       {
         title: "Recognize who give staff recognition",
         body: "Recognize employees who contribute the most in your recognition program. In Recognize you can see who are top employees for sending recognition across company values, time, and groups."
       },
       {
         title: "Non-monetary employee rewards",
         body: "To deliver an effective non-monetary rewards program, companies have to think outside the box. Oftentimes a non-monetary reward will accompany a monetary reward. A classic example is lunch with the CEO; the company pays for lunch but it is a special experience that you can't buy. Another example is a VIP parking spot. At Recognize, we consider a company sweatshirt or company schwag non-monetary rewards. Anything that can’t be easily purchased by the employee, such as free meals at the office, more freedom, like work from home or paid time off, better tools like a Macbook, or a corner office.<br>
	Paid time off is the most popular form of a non-monetary reward. In Recognize, you can set different variances on the rewards, such as 15 minutes paid-time-off, one hour, half day, or full day. Each can have a value associated with them. We recommend you don’t communicate to employees the specific currency value for the non-monetary rewards.<br>

Even if not with the CEO, a lunch or dinner with a group of important people, while inviting others to join who are up and coming stars, is a way L'Oreal recognizes their employees.",
         quotes: [
           {
             background_path: image_path("pages/articles/top_recognition_ideas/loreal.jpg"),
             quote: "They had an important dinner coming up the next days, meeting with some people from France, the director asked her secretary if I was invited. She told her I was not and he said, 'We should invite her, it's important for her to be there.' I felt amazing that day!",
             author: "Contractor at L'Oreal"
           }
         ]
       },
       {
         title: "Monthly group employee rewards",
         body: "At Recognize, we recommend highlighting the top employees in your recognition program on a monthly basis. Give the top team a pizza party on the last day of the month. Have a director make waffles for breakfast. Send a group on a fun adventure together. If your company culture isn’t one for individual achievement recognition, try group recognition instead."
       },
       {
         title: "Team-based employee recognition",
         body: "Create a team-based recognition program where you can recognize entire groups or teams. Create a leadership-to-team recognition for friendly competition, especially during busy periods where everyone needs to be focused on a specific task."
       },

       {
         title: "Reporting for recognition and engagement",
         body: "<p>One of the big benefits for managers and admins is to have visibility and insights into big people data. The 2020s are going to be a decade of immense progress with big data. Companies need to be collecting and gaining insights now to stay competitive.</p>
<p><a href='/analytics'>Engagement Analytics</a> starts with questions and the data answers those questions. Here are some questions to consider.</p>
<ul class='bullet-list'>
<li>Which groups are utilizing the recognition program the most?</li>
<li>How many recognitions are sent each month, quarter, year?</li>
<li>How many comments or likes to occur on the recognitions either physically or digitally?</li>
<li>Are managers utilizing the program? Which ones? Who isn’t using it?</li>
<li>Is the company staying in budget and tracking spot bonuses?</li>
<li>Who is redeeming the most rewards?</li>
<li>What rewards are the most popular and which are the least popular?</li>
<li>How does recognition correlate with job satisfaction?</li>
</ul>

<p>These questions can be answered from a digital solution and from the help of pulse surveying.</p>
",
         image: {
             path: "pages/articles/top_recognition_ideas/analytics.jpg",
             title: "Dashboard showing top redeemers and top gift cards for an employee recognition rewards program."
         }
       },

       {
         title: "Employee Appreciation Week",
         body: "Dealogic, an international financial organization, has an appreciation week. It’s like an internal conference of all the things Dealogic has to celebrate, including their most valuable asset, their staff."
       },
       {
         title: "Automatic gift cards for <a href='https://recognizeapp.com/rewards'>employee rewards</a>",
         body: "Provide automatic gift cards to make rewarding employees easy. Companies love the option of vendors like Recognize and Tangocard that provide automated gift card redemption. Automated gift cards free up valuable time for your total rewards manager to instead work on bigger projects.",
        image: {
           path: "pages/home-pricing/gift-cards.jpg",
           title: "Gift cards like Amazon, Target, Starbucks."
       }

       },
       {
         title: "Staff reward budgeting",
         body: "Incorporate reward budgeting to account for size of groups. For example, a manager of a larger team should be able to give more monetary recognitions each month than a manager of a smaller group. World at Work survey shows the average amount spent on rewards is about 1% of payroll."
       },
       {
         image: {
           path: "illustrations/tanking_employee_color.jpg",
           title: "One employee thanking another employee"
         },
         title: "Know which employees are undervalued",
         body: "Incorporate a recognition program that informs HR which managers are not recognizing their direct reports enough. Give your HR an easy way to observe managers. Notify managers who need help recognizing their employees."
       },
       {
         title: "Special experiences for employee appreciation",
         body: "New generations care more about experiences than getting things (source: CNBC). Luckily, it is just as easy to create a package of experiences for your employees as it is to buy at Amazon or Target. Book a climbing lesson at the local climbing gym, rent a boat for an employee’s family at the local lake or bay, pay for a paintball trip, spa package, or a mixology class. Experiences lead to higher and prolonged happiness; make your company the reason for those experiences. (source: <a href='https://www.fastcompany.com/3043858/the-science-of-why-you-should-spend-your-money-on-experiences-not-thing' target='_blank'>Fast Company</a>)."
       },
       {
         title: "Negative feedback",
         body: "Don’t be afraid to give private or public negative feedback of an employee. Bridgewater, managing $150B in investments, has public disapprovals of employees, even towards the CEO. By balancing praise and feedback, the employee will know all comments are genuine."
       },
       {
         title: "Visible across locations",
         body: "Share positive employee stories with different locations. That’s one of the big benefits of Recognize app, being able to tell stories that are visible across distributed locations."
       },
       {
         image: {
             path: "pages/articles/top_recognition_ideas/engagement.jpg",
             title: "Dashboard of data on users for employee engagement in a recognition program."
         },
         title: "People analytics",
         body: "Incorporate #{link_to('people analytics', analytics_path)} into the recognition program. Continuously survey staff to get a sense of their feelings over time. Correlate KPIs to the recognition program. Use the recognition data to discover trends. Map retention data with engagement data. With 60% of HR and business leaders not having an adequate program to measure or improve employee engagement, people analytics in your recognition program can be a huge competitive advantage (source: <a target='_blank' href='https://www.amazon.com/gp/product/1119050782/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1119050782&linkCode=as2&tag=recognizeapp-20&linkId=afa2071c6cb81f5ae03ae289dd86c19c'>People Analytics in the Era of Big Data: Changing the Way You Attract, Acquire, Develop, and Retain Talent</a>)."
       },
       {
         title: "Ask employees to do things",
         body: "It never hurts to ask and is a sure fire way to increase completion of <a href='https://recognizeapp.com/incentives'>employee tasks</a>. Ask your employees to recognize others on a weekly basis. Ask to share their recognitions publicly. Ask to add their avatar to the intranet or other services. Ask for process improvements or ideas."
       },
       {
         title: "Marketing materials",
         body: "Use recognitions in marketing materials and talent acquisition materials. Don’t be shy to let the world know why your organization is awesome."
       },
       {
         title: "Level-based employee recognition",
         body: "When staff receive recognition for all the company values, they can be automatically recognized or nominated for a special award or drawing."
       },
       {
           image: {
               path: "pages/articles/top_recognition_ideas/london.jpg",
               title: "London, UK"
           },
           title: "Spot bonus internationally",
           body: "For companies that are international, the recognition program is much more complex if money is exchanged. For completely non-monetary recognition programs or ones around Status, Access, and Power (link to SAPS), sending a spot bonus across the pond may not be a problem. However, USA multinational enterprises employed around <a href='https://www.bea.gov/news/2020/activities-us-multinational-enterprises-2018' target='_blank'>40 million international workers</a>. If an organization wants a whole company, one family recognition program, they will have to determine exchange of peer-to-peer bonuses across currencies."
       }


   @creative = [

     {
       image: {
         path: "illustrations/marching_band-1.0.jpg",
         title: "A marching band going through an office."
       },
       title: "Marching band",
       body: "Being outrageous is how to go viral and create buzz. When a team or individual has reached a huge milestone, send in the marching band! Perhaps someone at your company has a daughter or son in a high school marching band who can come march right through your office at 4:30pm on a Friday. Your company will talk about it for years to come.",
     },
     {
       title: "Pass the mascot",
       body: "If your company or team is new to employee recognition, pass the mascot is a simple program that is easy to get started. It is a way to give thanks each week based on your company values in the form of a physical item. At Breakthrough.com, their mascot is the duck, because ducks seems calm, but their feet under the water are moving quickly (source: <a href='http://blog.recognizeapp.com/employee-recognition-for-startups/' target='_blank'>Recognize</a>)",
       quotes: [
         {
           background_path: image_path("pages/articles/top_recognition_ideas/mascot.jpg"),
           quote: "The holder of the chalice presents a colleague with this commendation for feats of strength and stamina in the line of duty during our Friday Hour of Awesomeness.",
           author: "Peter Shanley, past Director of Strategic Programs at Neo"
         }
       ]
     },
     {
       title: "Games that create awareness",
       body: "At Facebook, the whole month of October is dedicated to security, with a twist. Employees are encouraged to attempt to hack other employees' computers. For instance, an employee may leave a thumb drive with a virus on someone's desk. If that person plugs it into the computer, they lose. Staff earn points and prizes for successfully tricking other employees. The result is a fun exercise and creates awareness around cyber security."
     },
     {
       title: "More friends",
       body: "Having friends increases retention. Metrobank in the UK has top employees of company values get together for an outing, like a cooking class, and then celebrate at a pub afterwards. Another idea, host team pizza parties or play games together. Try to connect employees together and celebrate commonalities.",
      image: {
       title: 'Workers working together',
       path: 'pages/articles/top_recognition_ideas/people-happy.jpg'
   }
     },

     {
         title: 'Help staff set goals',
         body: 'If staff can set goals, then when they achieve their goals the company can <a href="https://recognizeapp.com">recognize</a> the employee for their accomplishment. The best employees crave career progression and showing how they systematically reached those goals is critical in an engaged workforce. Companies are turning to OKR software, such as GroSum,  to help manage this process. Plus, many SaaS OKR companies will also provide thought leadership to guide companies along the process.'
     },

     {
       title: "Tie recognition to fun company activities",
       body: "Popagency.com in Seattle had employees write a poem to accompany their chili cook off for multiple ways to win. Ideas Collide uses their nomination program in Recognize app to vote and award employees who have the best Halloween costume. Corvallis Clinic in Oregon has a contest around pumpkin carving."
     },
     {
       title: "Host unconferences at your office",
       body: "An unconference is when everyone votes on employee-generated topics around a general idea. In San Francisco, and around the world, Lean Startup Circle hosts monthly or quarterly meetings where anyone can present a startup or business challenge. Then people break out into these ad hoc discussion groups. Do this two or three rounds. Close by coming together and presenting what you learned. Afterwards celebrate the people who stood out."
     },
     {
       title: "Ring the alarm",
       body: "Bells aren't just for sales. When the marketing team has a successful advertising A/B test they can ring the bell. When the engineering team finishes a big project, they too can ring their own special alarm. Allow groups to show their uniqueness.",
     },
     {
       image: {
         path: "illustrations/truck_driving_down_freeway_color.jpg",
         title: "Truck driver getting a recognition on the go"
       },
       title: "Recognizing your drivers",
       body: "For companies with drivers, and other employees on the road, recognize them through text messaging or #{link_to('mobile apps', mobile_path)}. Provide links to perks or rewards at either local establishments or a national gift card. Since they aren’t with anyone else, they will rarely participate in peer-to-peer employee recognition, so focus on the manager-to-peer recognition."
     },
     {
       title: "Text messaging",
       body: "Text message employees when they are recognized. Try to connect with your staff where they like to communicate. Texting has become a fabric of our social lives. It is a quick way to deliver recognition instantly and conveniently. Shining Star Therapy in Chicago uses it to recognize their remote staff. Text message recognition is a great solution to communicating with staff who don’t have email addresses."
     },
     {
       title: "IDEO's storytelling",
       body: "IDEO, an innovative design studio based in Palo Alto, California, has IDEO Stories. Employees nominate others to tell a story in front of the company or a group. It is like a TEDx inside their company. This recognizes unique characteristics through the nomination process and connects employees together through storytelling."
     },
     {
       title: "Recognize staff who do charity work",
       body: "Create that halo effect and strengthen why your employees work at your company by implementing charity programs. When staff do charity, give them special recognition. Provide a ceremony or organize a storytelling about the experience.",
       quotes: [
         {
           background_path: image_path("pages/articles/top_recognition_ideas/deloitte.jpg"),
           quote: "I was recognized for helping the United Way fundraiser effort at my last employer. At the end of the drive we raised more money than last year. The committee gave me a bonus in appreciation.",
           author: "Employee from Deloitte"
         },
         {
           background_path: image_path("pages/articles/top_recognition_ideas/ymca.jpg"),
           quote: "An entire group of kids came to the company and thanked me for my work that I did for them in the summer. We held a camp for low-income kids and it ended up being an all day thing for a straight 2 months. The entire experience was just so rewarding, and having them all get together and come over to thank me was really one of the most emotional days of my life.",
           author: "Jordan Lardani of YMCA"
         }
       ]
     },
     {
       title: "Secret shopper recognition",
       body: "At Krispy Kreme, they send secret shoppers to order custom donuts at stores. When the employees perform well, they are recognized by leadership for showing patience and compassion for customers.",
     },
     {
       title: "Physical card-based recognition",
       body: "Physical recognition cards are a solution to providing instant recognition to employees who don’t use computers. It has a great feeling as well, where something is literally handed out when someone does great work. The cards can have quotes, fortunes, or horoscopes. The point is to make it fun. Don't forget to include instructions on what to do next."
     },
     {
       title: "Play twenty-one",
       body: "Take one from 'poker runs' and play twenty-one for recognition. Every employee can get a card when they do something awesome each month. At the end of the month, all the employees with two cards can play 21. The person who ends up with the highest hand wins a reward. The point is to make work fun! Be serious when you need to be and be lighthearted whenever possible."
     },
     {
       title: "Give to employees' children",
       body: "Pay for summer programs, special classes, or recognize the achievements of the employees' children. For instance, Valassis Communications gives graduation gifts to employees’ children who are graduating (source: #{@link1501})."
     },
     {
       title: "Newsletter",
       body: "Create a quarterly journal or monthly company newsletter. Have a section that highlights outstanding employees and what they accomplished. Label House Group Limited did just that. In their internal newsletter, the section “Caught You Doing Something Right” highlights employees who demonstrate company values and attitudes (source: #{@link1501} pg. 259).",
       quotes: [
         {
           background_path: image_path("pages/articles/top_recognition_ideas/hp.jpg"),
           quote: "... My Boss then told the leadership in the company about my ideas and they also loved it. They ended up flying me out to the headquarters to talk about what I had done and how it could be done nationwide. I was giving a fast trace to a promotion and highlighted in a company email chain about the quarterly success stories.",
           author: "Portia Harris at Hewlett Packard"
         }
       ]
     },
     {
       title: "Promote recycling",
       body: "Recognize staff who recycle or use alternative transportation. Corvallis Clinic in Oregon has alternative transportation week and they create a recognition badge to symbolize that accomplishment in Recognize."
     },
     {
       title: "Recognize wellness",
       body: "Do special weekly wellness challenges of drinking water or eating vegetarian the most in a week. There are whole enterprise products dedicated to wellness, or you can do it homegrown with spreadsheets and forms. Find a program of your choice on sites like Capterra.",
        image: {
         path: "pages/articles/top_recognition_ideas/water.jpg",
         title: "A woman drinking a glass of delicious water."}
     },
     {
       title: "Townhalls",
       body: "Host celebration gatherings or “town halls” where you highlight successes of the company and employees. Make it be a surprise for added wow-factor.",
       quotes: [
         {
           background_path: image_path("pages/articles/top_recognition_ideas/oregon-pacific-bank.jpg"),
           quote: "A couple of my co-workers told our boss that they had noticed me doing very well in my first few months. During an employee meeting I was asked to come up and be recognized for that and they gave me a little gift card. I appreciated it so much and I've never seen anything like that at another workplace.",
           author: "Employee at Oregon Pacific Bank"
         },
         {
           background_path: image_path("pages/articles/top_recognition_ideas/mit.jpg"),
           quote: "A friend of mine published a paper in Science. My advisor received the email about the acceptance before she did and booked a massive celebratory breakfast for all of us before we got into the lab! The look on her face, and all of ours, was so memorable!",
           author: "Student at MIT"
         },
         {
           background_path: image_path("pages/articles/top_recognition_ideas/woman-office-worker.jpg"),
           quote: "The company I work for decided to throw everybody a surprise party just for meeting our sales quotas for the week. It was an extremely unexpected occasion and it really made everybody feel like we were appreciated within the firm.",
           author: "Employee at Liberty Inc."
         }
       ]
     },
     {
       title: "Location competition",
       body: "Create competition between office locations in a similar region. See who can produce the most in a donation competition or sales competition. Show a leaderboard of different offices by sales per capita.",
       quotes: [
         {
           background_path: image_path("pages/articles/top_recognition_ideas/family-dollar.png"),
           quote: "All the local stores in the area compete every month to sell a specific product. This month that item is cookies, and the store that sells the most of the designated item will have a $1000 bonus awarded to the manager, and an $800 bonus to each employee. This is a real incentive, the store just 20 minutes from where I live got this award last month.",
           author: "Michael from Family Dollar"
         },
         {
           background_path: image_path("pages/articles/top_recognition_ideas/tedeschi.jpg"),
           quote: "Our store was rated #1 in the district for both sales and meeting the budget. Our supervisor came down and gave us all gift cards and we had a pizza party with soda.",
           author: "Employee from Tedeschi Food Shops"
         }
       ]
     },
     {
       title: "International kiosks",
       body: "For international companies, set up kiosks of recognitions for different offices. Have the program be centralized for them, while visible across the company."
     },
     {
       title: "Public blog praising employees",
       body: "Publicly blog about employees doing amazing things. Allow employees to write on topics they care about. Have a people's choice award posted to the company blog each quarter or year."
     },
     {
       title: "Help overwhelmed employees",
       body: "Create visibility into who is overworked, overstressed, or just needs help either at the manager-level or at the employee-level. Create a culture where saying I need help is a good thing, because it improves things move forward. Reward employees who speak up about themselves or others. Reward employees who take on extra work to help another employee."
     },
     {
       title: "Remember names",
       body: "Following Dale Carnegie's lead from his ultra classic, 'How to Win Friends and Influence People', people’s names are the most beautiful sound they can hear. Help the executives learn the staff’s names. Help the executives connect with the employees on a first name basis."
     },
     {
       title: "Onboarding stories",
       body: "When new employees are hired, ask them fun questions about their past, have the manager present the new employee in a speech for the whole company in a monthly new hires party."
     },
     {
       title: "Recognize employees beyond the workplace",
       body: "Showcase art work by employees, like they do at REI, or have monthly fireside chats at lunch and showcase employees' extracurricular activities."
     },
     {
       title: "Anniversary roast",
       body: "For employees with 10+ years of service and who contributed significantly to the organization, surprise them with a special event presentation and roast with the whole company or division involved. Tell them it is a mandatory meeting when it is actually a party and roast.",
       image: {
         path: "illustrations/10_years_with_tom_color.jpg",
         title: "An anniversary party"
       }
     },
     {
       title: "Be edgy if you can",
       body: "Recognition doesn’t have to always come in the form of pure love, man. Showing you care for someone can be represented in different ways. Certain personalities may prefer pranks, a roast, or friendly teasing. A stealth startup in San Francisco puts popups under people’s chairs so when they back up there is a loud pop. Cover a colleague’s desk entirely in posted notes. In the right environment, it will make the office more down to earth."
     },
     {
       title: "Make fun of ourselves and don't take ourselves too seriously",
       body: "Recognize employees who lighten the mood. At Recognize, customers use the “squirrel” badge for people being hyperactive or coming up with a lot of ideas. Have fun and be lighthearted with employee recognition."
     }
   ]

   @non_monetary = [
       {
           title: 'Book Club recognition',
           body: 'Utilize your company communication tools like Microsoft Teams or Workplace by Facebook to create Book Clubs on various topics. Create fun rewards for employees who finish books with virtual or in person gatherings. If virtual, pay for dinner and drinks to be delivered. With Uber Eats, companies can now deliver champagne, snacks, or nearly anything.',
           image: {
               path: 'pages/articles/top_recognition_ideas/books.jpg',
               title: 'Bookshelf'
           }
       },

     {
       title: "Charity of employees' choice",
       body: "Popagency.com in Seattle has a donation matching system as a benefit. Any nonprofit an employee donates to, up to a certain point, the company will match it. Another strategy is to make donations on behalf of employees as a reward. This can be done either via your company rewards catalog or as a bonus for doing great work. Connect recognizing with giving for extra effect! ",
     },
     {
         title: "Guest speaker",
         body: "Amazon has guest speakers on a nearly weekly schedule for all their HQ employees to enjoy. You don't have to be Amazon to hire special guests to come speak to your company every once in a while. Recognize special employees by inviting them to have break-off sessions with the guest speakers in the morning before the company-wide talk.",
          image: {
               path: 'pages/articles/top_recognition_ideas/speaker.jpg',
               title: 'A guest speaker presenting to emplyees.'
           }
     },
     {
       title: "Status, Access, Power, and Stuff (SAPS)",
       body: "Give staff who show leadership in specific areas access to a committee to make special decisions. This follows the gamification acronym SAPS, or status, access, power, and stuff. These are the dials you can turn to keep staff engaged. By allowing your staff to be a part of a special meeting where they make decisions, you are engaging that employee both in status as well as power.",
     },
     {
       title: "Fly a loved one out to visit",
       body: "Surprise and delight an employee on the road. Fly a loved one, family member, or friend to visit a traveling employee."
     },

     {
       title: "Unexpected surprises",
       body: "Surprise your employees with random gifts or perks. Ahead of company meetings, randomly tape gifts under the chairs. Email the company saying that the first person to respond gets two tickets to the game or show."
     },
     {
       title: "Name things after employees",
       body: "Do you have a cafeteria or cafe? Name a drink or a sandwich after an all-star employee. Southwest Airlines named the overhead bins after each of their 25k employees (source: #{@link1501} pg. 255).<br>The TV show Curb Your Enthusiasm has an episode on this topic when Larry David, the creator of Seinfeld, obsesses over having a sandwich named after him at a popular restaurant. Larry David in the show, and in real life, is nearly a billionaire. Even with all the money in the world, what he wants is his name on the board."
     },
     {
       title: "Inspire employees' children & help the community",
       body: "Inspire staff high school or college-aged children to participate in one day ideation where they come up with a plan on how to help our communities and the company. Present the ideas and the company implements the best idea."
     },
     {
       title: "Ideation program",
       body: "Recognize employees for coming up with great ideas in your ideation program.",
       quotes: [
         {
           background_path: image_path("pages/articles/top_recognition_ideas/isgn.jpg"),
           quote: "In 2014 I took initiative in developing an API and backend system that would assist in real-time notifications of project and work status. I submitted this as a project proposal after rapid prototyping. The next thing I get is a direct call from the CTO and CIO telling me that this is a product quality item and that they want to develop it for resale. I helped head the team to bring out the product. When it was pilot tested it was purchased by three of our largest clients. Not that long after I was actually presented a bonus check and plaque by the CEO at my own office during a town hall. Highlight of my career.",
           author: "Joseph Rice at ISGN"
         },
         {
           background_path: image_path("pages/articles/top_recognition_ideas/recognos.jpg"),
           quote: "We are a fairly new company and quite early on in my career with them I felt I made a big impact in how the company worked. I scripted a program that made our system much more efficient. My supervisor was impressed and immediately took it to one of the higher ups. Being a fresh out of college and entry level employee this really meant a lot. An email was sent out thanking me in front of other coworkers and a few months down the line I was offered a promotion in the programming department. It felt amazing and gave me a lot of hope about my future.",
           author: "Employee from Recognos Financial"
         }
       ]
     },
     {
       title: "Hackathons",
       body: "Similar to how Google used to have their 20% program, allow teams to form on a biannual basis to come up with new ideas and question old habits in a hackathon. You can use tools to manage the hackathon and follow processes like business model canvas. Recognize employees for creating new programs in the company that fix problems.",
        image: {
       path: "pages/articles/top_recognition_ideas/hackathon.jpg",
       title: 'People on laptops'
   }
       },
     {
       title: "Corner office",
       body: "Trading offices for one month is a win win. It is a fun perk for employees, and it creates an environment for upper management to mingle with colleagues."
     },
     {
       title: "VIP parking",
       body: "Put a parking spot or two right in front of the office for employees to earn or redeem."
     },
     {
       title: "Lunch with the CEO",
       body: "Give the opportunity for top employees to have lunch with the senior leadership, and discuss concerns or ideas."
     }
   ]

   @perks = [
     {
       image: {
         path: "illustrations/penthouse_room_color_2.0.jpg",
         title: "A man entering a penthouse hotel room after a long day at work"
       },
       title: "Hotel upgrades",
       body: "Give hotel upgrades to hard working, on the road employees. For those employees on the road, finding ways to engage them used to be limited, but today with the internet we can book or rent or contact just about anyone. Next time a hard working employee finishes a day, tell them they’ve been upgraded to a penthouse.",
     },

     {
         title: 'Onsite massage or Massage Envy gift card',
         body: "Massage Envy is a partner of Recognize for gift cards. Another easy way for employees to choose their reward. If they want to get a free massage, they can get one with their points. For companies not using Recognize App, many options for delivering a massage to an employee who needs it. Employees who sit all day and employees on their feet all day both benefit from a chair massage or more. Acupuncture, or dry needling, when done right can be very beneficial as well. Cryotherapy can be a social activity, because two people can go into the freezer together. Sometimes it is easiest to just give the cash to the employee either as points in Recognize or in real dollars through your payroll system. They can choose how to spend their wellness dollars. Make sure the redeemers report back what they did, so staff aren’t tempted to frivolously spending the money.",
         image: {
           path: "pages/articles/top_recognition_ideas/massage.jpg",
           title: "A woman getting a massage"
       }
     },

     {
       title: "Give trips away",
       body: "Enabling employees to connect more with their families is a great way to recognize staff. If you offer special trips or anything that requires planning, either outsource it to a vendor or make sure you complete it on time. Staff feel unappreciated if promised a special gift and the company doesn’t deliver.",
     },
     {
       title: "Provide conveniences",
       body: "Wash the car, wash the dog, cut their hair, or fix the bike. Living in Silicon Valley, you see a lot of these perks in great companies. Zynga had their bike repair truck outside HQ every week. Google has an onsite barber for staff haircuts. Although we can’t all afford a barber or car detail team on payroll, most companies can afford to offer this as occasional perks. Bring in an onsite car wash or barber for a once a quarter event. "
     },
     {
       title: "Groupon for remote employees",
       body: "Find special Groupons in the towns of your remote workers to say thanks in a special way, while saving money. We all know a Groupon is a great gift for friends and family, and it makes an even better gift for remote workers. While many companies are moving away from remote workers, if remote workers are outgoing and self-starters, companies can save money by hiring employees living in lower cost areas. Collaboration tools like Slack, Screenhero, Yammer, Google Hangouts, and Recognize make remote working much easier. Next time remote employees do a great job, send them a Groupon in their town. Make it be surprising and spontaneous. ",
      image: {
       path: "pages/articles/top_recognition_ideas/groupon.jpg",
       title: "Groupon"}
     },
     {
       title: "Recruitment recognition",
       body: "Provide recruitment recognition when staff refer new employees. Deem Inc. in San Francisco gave $2,500 to $5,000 as a recruitment bonus when referring a new employee."
     },
     {
         title: "Give away house cleanings",
         body: "<p>The more employees a company has the more expensive programs become. For instance, it is challenging to give house cleaning to every employee when you employ thousands of workers. That’s where the employee recognition program comes in. By utilizing the democratic recognition schema, people can redeem having their house cleaned once every month for a year, or once a quarter using their points. That way only people who want it will get it. </p>
<p>Clearly, companies can give away house cleaning in a variety of ways with it being a redeemable reward as one of them. For instance, top employee success managers or support agents could receive this. With more and more employees working from home, this is a great gift. House repairs or improvements another option.
</p>",
         image: {
             path: "pages/articles/top_recognition_ideas/cleaning.jpg",
             title: "A man cleaning the light fixture in a house."
         }
     },
     {
       title: "Conferences",
       body: "Send employees to conferences who show specific abilities. In gamification theory, it is said users crave status, access, power, and stuff (SAPS). By enabling employees to attend conferences, you are providing access to your employees. When you give staff access, it is more meaningful than purely monetary rewards."
     },
     {
       title: "Mentoring",
       body: "Provide opportunities for recognized employees to be a mentor or mentee. Mentoring platforms will facilitate more mentorship. Offload the task to a service such as Mentorcloud or a women-specific mentoring platform, like Glass Breakers."
     },
     {
       title: "Monthly outings",
       body: "Get staff together on a monthly basis for an offsite outing, such as a cooking class, go-karting, or a happy-hour."
     },
     {
       title: "International employee reward catalogs",
       body: "For international companies, create separate staff reward catalogs for different currencies."
     },
     {
       image: {
         path: "illustrations/driving_fancy_car.jpg",
         title: "Luxury car rental"
       },
       title: "Luxury cars",
       body: "Enterprise car rental offers many luxury cars in most cities. Give a top employee a Lamborghini or Porsche for the day."
     },
     {
       title: "Work from home",
       body: "#{link_to('Working from home', cultivate_positive_remote_work_experience_path)} has become more prevalent due to the COVID-19 outbreak in 2020. In the past, working from home has been treated with mixed feelings from leadership. Find a middle ground and reward high achieving employees with working from home. Companies are only as strong as their weakest links. Disruptive employees are more prone to interrupt others in open office plans. That’s one reason to push Friday as a good day for top employees to work from home. If working from home, make sure people are held accountable through online communication tools like Slack, Hipchat, or email.",
       image: {
           path: "https://cms-assets.recognizeapp.com/wp-content/uploads/2020/08/16143624/pasted-image-0.png",
           title: "Work from home having coffee vs. being in traffic."
       },
     },
     {
       title: "Nap pods",
       body: "Recognize employees who aren’t afraid to go against the norm for the better good. One example is power naps at work. Innovative companies like Google have nap pods, a place tired employees can take a quick snooze. Before the age of open offices, it was the norm for managers to shut their windows and take a nap after lunch. Lack of sleep lowers your IQ and makes you less productive (source: <a href='http://www.businessinsider.com/how-naps-affect-health-and-productivity-2017-2' target='_blank'>Business Insider</a>). Encourage your staff to nap and even give an award each quarter to the nappers, all the people who took a nap in the name of higher IQ."
     },
     {
       title: "Make corporate recognition Buzzworthy",
       body: "Pushing the envelope is what it takes to be buzzworthy and create a dedicated culture. An unnamed San Francisco tech company throws annual galas for no particular reason. The parties are famous for being absolutely extravagant. For instance, the CEO will hand people wrapped 100 $1 dollar bills. This philosophy can to be tied to employee recognition, rewards, and culture in general. What emotions do you want to bring up when staff think of your company? "
     },
     {
       image: {
         path: "illustrations/beach_house_coworkers_color.jpg",
         title: "Workers at a beach house"
       },
       title: "Work retreats",
       body: "Work retreats for high-achieving / overworked teams to exotic places is a nice-to-have perk. Salesforce has been known to rent a mansion in Hawaii for an entire work week. This allows workers to relax, have a great team building adventure, and still get work done."
     },

     {
       title: "Year supply of beer",
       body: "Use unique perks in attracting and retaining talent. The startup Hipster made headlines for their ridiculous employee perks listed on the hiring section of their website. They offered things like a year supply of PBR. <br>A gym membership can cost a company $40-80/employee/month and can mean so much more to general employee happiness. Take it a step further, and pay the employee to go to the gym. It is no secret humans come up with great ideas while exercising. "
     },
     {
       title: "Give mindfulness",
       body: "For teams that are overworked, stressed out, or just reached a goal, surprise them with on-site massages, on-site yoga, or mindfulness meditation. More and more HR service startups are inventing programs in B2B mindfulness around meditation, yoga, and massages. As employers, productivity is earned back through smarter, more creative employees as a result. Research has shown an increase in gray matter after one month of daily meditation (source: <a href='https://news.harvard.edu/gazette/story/2011/01/eight-weeks-to-a-better-brain/'>Harvard</a>). This means more intelligent, calm employees. Also, thirty minutes of exercise makes people smarter (source: <a href='http://www.menshealth.com/health/3-ways-sweat-makes-you-smarter' target='_blank'>Men's Health</a>)."
     }
   ]


   @remote_workers = [
       {
           title: 'Add communication tools beyond email and pager',
           body: "Communicating with all employees digitally on instant message platform is mission critical. Employees are across offices, geographies, and now due to covid-19 that wrecked 2020 many more employees working from home. To create that global communication system, companies need a hub. Further, companies that adopt these systems see a <a href='https://www.businessinsider.com/slack-survey-shows-it-reduces-work-email-2015-10'>reduction of at least 48%</a>. Internal email is dying and instant communication chat is here to stay. ",
           image: {
               path: "pages/articles/top_recognition_ideas/hangout.jpg",
               title: "Google Hangout"
           }
       },
       {
           image: {
               path: "pages/home-fbworkplace/employee-recognition.jpg",
               title: "Workplace by Facebook with Recognize"
           },
           title: "Workplace by Facebook for company communication",
           body: "Workplace is a social feed with video calling and private messaging. Powered by the algorithm of Facebook, companies can have important posts rise to the top of the news feed.	<a href='/employee-recognition-facebook-workplace'>Workplace integrates into Recognize for employee recognition</a> and other tools via a chat bot interface."
       },
       {
           image: {
               path: "pages/home-index/integrations/slack-2.png",
               title: "Slack"
           },
           title: "Slack for company communication",
           body: "The darling of Silicon Valley went public and was acquired by Salesforce. At the time of this writing, we’ll see how Slack fares against Microsoft Teams. However, Slack is a first mover and a customer-centric product changing the way companies communicate. Integrations are through menus and commands when chatting."
       },
       {
           image: {
               path: "pages/articles/ways-to-use-recognize-during-covid-19/image4.jpg",
               title: "Microsoft Teams"
           },
           title: "Microsoft Teams for company communication",
           body: "Much like what Microsoft does, they come after other products, copy some of their features and try to innovate in their own ways. MS Teams is showing to be a strong competitor as they continue to roll out interesting features for chatting and communicating, such as the <a href='https://www.wsj.com/articles/microsoft-thinks-youve-been-missing-your-commute-in-lockdown-11601373601'>Commute Feature</a>. Recognize and other tools can integrate into MS Teams by becoming menus and windows. MS Teams combines the best of Sharepoint with Slack into one tool for Microsoft 365 (formally Office 365) customers. "
       },

       {
           title: "Hiring for remote work",
           body: "Beyond giving employees praise, companies want a strong company culture and that means hiring smart on the outset of the culture machine. For remote employees consider hiring based on self-motivation. Employees who report self-motivation are more likely to rate themselves as productive at home. Also, employees with many roommates can be distracting for remote workers. Further, outgoing employees who are more likely to communicate digitally fare well in remote, out of sight out of mind roles. "
       },

       {
           title: "Clear obligations",
           body: "No surprise to learn that <a href='/cms/articles/how-to-engage-frontline-employees'>Recognize research</a> found that when employees had clear expectations and obligations then they are more productive at home. This relates to employee recognition because if you make it clear how they can succeed, and they succeed you can give them recognition for the job well done."
       },

       {
           image: {
               path: "pages/articles/top_recognition_ideas/online-class.jpg",
               title: "Parent and daughter doing online class"
           },
           title: "Online class subscriptions",
           body: "With Covid-19 causing so many people to be indoors, a great way to train and engage employees is offering online classes. Classes for career advancement or offer for employee's families to take classes online as a perk. Companies encouraging lifelong learning will benefit."
       },

       {
           image: {
               path: "pages/articles/top_recognition_ideas/hangboard.webp",
               title: "A climber training at home"
           },
           title: "Home exercise equipment",
           body: "Pelotons are all the rage but you don’t have to spend thousands to help your employees get better exercise when at home. Things could be as simple as jump rope or five-pound weights. A step up is a workout bench or a pull-up/hang board. Massage guns are hot right now and other equipment can be offered as rewards or gifts for hard workers or years of service."
       },

   ]

   @frontline = [
       {
           title: 'Utilize SMS to engage frontline workers',
           body: "Text messaging is the tool to reach <a href='/cms/features/frontline-worker-employee-recognition'>frontline workers in employee recognition</a>. With Recognize, it allows employees to login with a telephone number and verify via text message. They receive text message notifications when they are recognized and can then login on their smart phone to redeem a reward. ",
           image: {
               path: "pages/articles/top_recognition_ideas/frontline-scan.jpg",
               title: "Employee scanning items on iPad"
           }
       },
       {
           title: 'Utilize person email addresses',
          body: "From a security perspective companies want to control company communications. However, for receiving recognition and instructions on how to redeem rewards, it is perfectly acceptable to email staff to their personal email address. ",
           image: {
               path: "",
               title: ""
           }
       },
       {
           title: 'Kiosks for iPads or flat screens',
           body: "Employees who work in factories or hospitals should be able to see the recognitions occurring in their organization via TVs or iPads. All levels of the organization can have access. Even staff working night shift, such as cleaning staff, can create recognitions from the iPads using their telephone to sign in.",
           image: {
               path: "pages/articles/top_recognition_ideas/tv.jpg",
               title: "TV screens in hospital"
           }
       },
       {
           title: 'Custom tailored award certificates',
           body: "Often times frontline workers appreciate physical recognition. Make certificates custom tailored to the achievement. Recognize has a set of <a href='https://recognizeapp.com/amazing-award-certificates'>certificates here</a>.",
           image: {
               path: "pages/articles/amazing-award-certificates/image4.jpg",
               title: "President's Award Certificate"
           }
       },
       {
           title: 'Manager reports',
           body: "<a href='https://recognizeapp.com/cms/features/managers'>Managers</a> need visibility into their team. How will all the managers give recognition to those who need it or deserve it every month for years? That’s why bringing reporting to managers' inbox will help them in their quest in being a great manager.",
           image: {
               path: "https://cms-assets.recognizeapp.com/wp-content/uploads/2020/07/05175917/Screen-Shot-2020-07-18-at-3.51.27-PM.png",
               title: "Manager direct report company values."
           }
       }
   ]
%>
