<% content_for :title, "Become a Zoom Power User" %>
<% content_for :description, "A cheat sheet to get the most out of Zoom teleconferencing" %>

<div class="centered">
  <h1 itemprop="name">A cheat sheet to get the most out of Zoom teleconferencing</h1>
</div>

<p>Written by: Katie-Pia Moran<br><br>

<%= link_to "Learn about Recognize", root_path, class: "button button-large button-primary" %>

<%= render partial: "become_a_zoom_power_user", formats: [:html] %>
