<% content_for :title, "Combat burnout in healthcare" %>
<% content_for :description, "How Recognition and Engagement can combat Burnout in Healthcare" %>

<div class="centered">
  <h1 itemprop="name">How Recognition and Engagement can combat Burnout in Healthcare</h1>
  <%= lazy_image_tag "pages/articles/combat-healthcare-burnout/main.jpg", alt: "A nurse looking tired", class: "marginBottom30", itemprop: "image", width: 400, height: 400 %>
</div>

<p>Written by: Katie-Pia Moran<br><br>

<%= link_to "Learn about Recognize", root_path, class: "button button-large button-primary" %>

<%= render partial: "combat_healthcare_burnout", formats: [:html] %>
