<% content_for :title, "2019 Employee Recognition Report" %>

<div class="centered">
  <h1 itemprop="name">2019 Employee Recognition Report</h1>
  <p class="tagline">Last year, the Recognize Team ran a number of surveys on employee recognition and analyzed the results. This year, the team has examined how demographic groups (such as gender, age, etc.) prefer to receive employee recognition in different ways. Here, we provide initial research on how organizations can tailor recognition to different populations and satisfy a diverse range of people.</p>
</div>

<div class="marginBottom30">
  <amp-img src="<%= asset_url('pages/articles/2019_employee_recognition_report/happy-employees.jpg') %>" alt="An illustration of an exhausted nurse" height="400" width="600" layout='responsive' itemprop="image"></amp-img>
</div>

<hr>

<%= render partial: "2019_employee_recognition_report",formats: [:html] %>
