<% content_for :title, "Employee Recognition in Okta" %>

<div class="centered">
  <h1 itemprop="name">Employee Recognition in Okta</h1>
</div>

<p>Written by: Alex Grande<br><br>

<%= link_to "Learn about Recognize", root_path, class: "button button-large button-primary" %>

<%= render partial: "employee_recognition_in_okta", formats: [:html] %>
