<% content_for :title, "2019 Trends in Corporate Recognition" %>
<% content_for :description, "See Recognize's predictions for 2019 employee rewards, while we also look back at 2018 employee recognition trends." %>

<div class="centered">
  <h1 itemprop="name">2019 Trends in Corporate Recognition and Staff Rewards</h1>
  <amp-img src="<%= asset_url('pages/article-2019-recognition-trends/image-1.jpg') %>" alt="In person employee recognition by shaking hands in front of group" height="400" width="600" layout='responsive'></amp-img>
</div>

<p>Written by: David Clark<br><br>

  In an increasingly demanding and stressful work culture, employees expect some type of recognition for their hard work and achievements. And this expectancy can have a huge impact on their employee experience – for better or worse. Companies that fail to recognize their workers through some type of acknowledgement and/or reward end-up damaging employee morale, productivity, and retention (<a href="https://www.business2community.com/human-resources/10-employee-recognition-stats-cant-ignore-01878458" target="_blank">Heller, 2017</a>). But <strong>companies with robust employee recognition programs are known to have 31% lower voluntary turnover</strong> than those that don’t (Anderson, 2018). So this compelling business case has encouraged more and more managers to invest in corporate recognition programs.</p>

<%= link_to "Learn about Recognize", root_path, class: "button button-large button-primary" %>

<%= render partial: "2019_recognition_trends_body", formats: [:html] %>
