<% content_for :title, "How to engage your employees in Office 365" %>

<div class="centered">
  <h1 itemprop="name">How to engage your employees in Office 365</h1>
</div>

<div class="centered">
  <%= link_to "Learn about Recognize", root_path, class: "button button-large button-primary" %>
</div>


<%= render partial: "engage_employees_office_365", formats: [:html]  %>