<% content_for :title, "Utilizing employee recognition & incentives to combat Coronavirus in your company." %>
<% content_for :description, "In this article, we will see how we can utilize employee recognition to fight the Coronavirus outbreak." %>

<div class="centered">
  <h1 itemprop="name">Utilizing employee recognition & incentives to combat COVID-19 in your company</h1>
</div>

<p>Written by: Alex Grande<br><br>

<%= link_to "Learn about Recognize", root_path, class: "button button-large button-primary" %>

<%= render partial: "ways_to_combat_coronavirus", formats: [:html] %>
