#company_admin_anniversaries_notifications-show

  #anniversary-form
    .small-text
      font-size: 11px
    table
      min-width: initial
      th
        padding-right: 5px
      td:not(:last-child)
        text-align: center
