#company_admin_anniversaries_settings-index
  .new_badge
    label
      display: block !important
  .badge-input-short_name
    width: 100%
  .badge-input-message
    width: 100%
  .badge-input-points
    max-width: 100%
