<style>
  .recognize-email-wrapper,
  .recognize-email-wrapper p,
  .recognize-email-wrapper li {
    font-family: lato, helvetica, arial, sans-serif;
  }
</style>
<table class='recognize-email-wrapper' style="font-family: lato, helvetica, arial, sans-serif;">
  <tr>
    <td>
      <%= @body.html_safe %>
    </td>
  </tr>
</table>
