<% content_for :meta_properties do %>
  <meta property="og:title" content="Healthcare Employee Recognition Case Study" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Recognizeapp.com" />
  <meta property="og:description" content="Reduce nurse burnout through a healthcare clinic employee recognition program." />
  <meta property="og:image" content="https://recognizeapp.com/assets/pages/case-study/corvallisclinic/index-card.jpg" />
<% end%>

<% content_for :title, "Healthcare Employee Recognition Case Study" %>
<% content_for :description, "Reduce nurse burnout with employee recognition. Learn how a healthcare clinic increased employee happiness and reduced burnout in a high stress medical environment." %>

<section class="case-study-article">
  <section class="cs-banner lazy gradient-cover-white">
    <p class="balance-text subtle-text">Corvallis Clinic Case Study</p>
    <h1 class="balance-text">Reduce Burnout With Employee Recognition in a Healthcare Environment</h1>
    <div>
      <a href="/docs/case-study/CorvallisClinicCaseStudy.pdf" class="button button-primary button-small">Download <sup>PDF</sup></a>
    </div>
  </section>

  <section class="case-study-section">

    <div class="flex flex-sidepanel">
      <div>
        <h2>A Leading Healthcare Clinic in Oregon</h2>
        <p>Corvallis Clinic is a physician owned clinic that has been operating for over 70 years in Willamette County in Oregon. With over 600 people on their staff, they are the largest multi-specialist clinic in Willamette County. Spread over 9 different locations, Corvallis Clinic serves more than a quarter of a million people. Their medical group has outpatient clinics, specialty labs, urgent care facilities, and a surgical care center.</p>
        <p>Dedicated to providing the best patient care possible, Corvallis Clinic has been recognized by the American Medical Group Association, the National Committee of Quality Assurance, the Medical Group Management Association, and the Corvallis Area Chamber of Commerce.</p>
      </div>

      <dl class="stylized-dl">
        <dt>Company Size</dt>
        <dd>600+</dd>
        <dt>Locations</dt>
        <dd>9</dd>
        <dt>Industry</dt>
        <dd>Healthcare</dd>
        <dt>Country</dt>
        <dd>USA</dd>
      </dl>
    </div>

  </section>

  <section class="case-study-section">
    <em class="case-study-category-text">The Challenge</em>
    <h2 class="balance-text">Increase Employee Happiness in a High Stress Medical Environment</h2>
    <%= lazy_image_tag "pages/case-study/corvallisclinic/people.jpg", class: "image-side-right", tag: "People walking by a clinic" %>
    <p>Corvallis Clinic came to Recognize with the task of enhancing employee engagement within their medical group. They found it challenging to unite their large staff across all locations and wanted to emphasize employee appreciation, satisfaction, and collaboration between teams and locations.</p>
    <p>Having used corporate recognition programs in the past, they knew the value of employee recognition. However, all the recognition programs they tried to adopt in the past lost steam and failed at effectively engaging their staff. Their previous recognition programs required lots of manual data entry and did not have user friendly platforms. Corvallis Clinic needed a tool that could make sending employee recognitions in real-time effortless and could give them intelligent reporting on the engagement of their staff.</p>
  </section>



  <section class="case-study-section">
    <em class="case-study-category-text">The Solution</em>
    <h2 class="balance-text">Slowly Implement More Employee Recognition Features Over Time</h2>
    <p>Corvallis Clinic ultimately decided to use Recognize for the corporate recognition program because of the ability to create custom recognition badges, automate work anniversary and birthday recognitions, and the ability to start small and grow over time. The HR team at Corvallis Clinic loved that they could customize recognition badges to align with their own unique organizational values. They created badges like “Attitude is Everything” to promote how they want everyone in their organization to keep a positive attitude, or “Helping Hand” to promote helping others. With the addition of these custom value-based badges and a “Thank You!” badge that allowed the opportunity to thank a colleague, the Corvallis Clinic were able to engage their employees in a fun and friendly way that was totally unique to them. The ability to automate recognitions sent to employees for their work anniversaries and birthdays was also a big draw for Corvallis Clinic. Given the traditionally manual nature of tracking and celebrating birthdays and work milestones, a handful of employee birthdays and work anniversaries would slip through the cracks and not be celebrated. With Recognize, they only have to put their employee’s data in once, and every year they will automatically be recognized for their birthday or work anniversary. Lastly, the ability to start small with non-monetary employee recognitions in the first year and move to a monetary program later on allowed Corvallis Clinic to grow their employee engagement year after year.</p>
    <h3>Start Small & Grow Strategy Timeline</h3>
    <div class="row-fluid">
      <div class="span6">
        <h4>Year One</h4>
        <ul class="bullet-list">
          <li>Non-monetary employee recognition</li>
          <li>Create recognition shout outs each month from executives</li>
          <li>Employ managers with reports on group recognitions</li>
        </ul>
      </div>
      <div class="span6">
        <h4>Year Two</h4>
        <ul class="bullet-list">
          <li>Give point value to rewards</li>
          <li>Add employee-managed company rewards</li>
          <li>Add automatic gift cards to be redeemed by staff</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="case-study-section">
    <div class="flex flex-sidepanel">
      <div>
        <em class="case-study-category-text">The Results</em>
        <h2 class="balance-text">Increase in Employee Engagement Year After Year</h2>
        <p>Since joining the Recognize platform in 2016, the Clinic has activated over 450 active users across all 9 of its facilities. Because Corvallis Clinic started small with a non- monetary program the first year, their staff was able to quickly adapt to sending recognitions on the platform. These employees continue to leverage the platform’s badges for both peer-to-peer (e.g. ‘Thank You’) and manager-to-peer (e.g. ‘The Extra Mile’) recognitions.</p>
        <p>In their second year, Corvallis Clinic was able to increase employee engagement even more by adding points to their recognitions that could then be redeemed for rewards. With Recognize it was super easy for them to add their custom rewards and choose from our selection of available gift cards. This small change increased employee engagement in the platform by over +47% in the second year.</p>
        <p>And due to its growing employee participation on Recognize, the Clinic has experienced a powerful ‘shift’ in company culture. Not only do staff feel more acknowledged and appreciated for their efforts in real-time, but they’ve also begun to engage more with other divisions/facilities through the platform further increasing employee participation and satisfaction.</p>
      </div>

      <div style="width: 200px; max-width: 100%;">
        <dl class="dt-stats centered">
          <dd>80%</dd>
          <dt>Employee Participation in Recognition</dt>
        </dl>
        <dl class="dt-stats centered">
          <dd>13,000</dd>
          <dt>Recognitions submitted in two years</dt>
        </dl>
        <dl class="dt-stats centered">
          <dd>47%+</dd>
          <dt>Two-year employee recognition engagement delta</dt>
        </dl>
      </div>

    </div>
  </section>


  <section class="case-study-section">
    <h3>Top Employee Recognition Badges</h3>
    <%= lazy_image_tag "pages/case-study/corvallisclinic/badges.jpg", alt: "Corvallis Clinic's top badges", class: "" %>
  </section>

  <section class="case-study-section">
    <em class="case-study-category-text">Concluding Thoughts</em>
    <h2>Day to Day Recognition is Critical</h2>
    <p>The Recognize platform has provided the Corvallis Clinic with a viable way to boost employee appreciation and engagement across its segmented workforce. Along with providing an opportunity for real-time expressions of gratitude, Recognize helps provide the long-term, sustainable culture of employee satisfaction and retention, especially in a fast-paced, stressful work environment like healthcare.</p>
    <p>
      For more information about the Recognize platform, or if you’d like to be featured in a future case study, please contact support at support@recognizeapp.com.</p>
  </section>

</section>

<%= render "home/footer" %>
