<% content_for :meta_properties do %>
  <meta property="og:title" content="Remote Workforce Employee Recognition Case Study" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Recognizeapp.com" />
  <meta property="og:description" content="A digital advertising company with a remote team tackles company culture with Recognize." />
  <meta property="og:image" content="https://recognizeapp.com/assets/pages/case-study/goodwaygroup/index-card.jpg" />
<% end%>

<% content_for :title, "Remote Workforce Culture Case Study" %>

<% content_for :description, "Unite your remote staff while they work from home by using an employee recognition program. Learn how a digital advertising company with a remote team tackles company culture with Recognize." %>

<section class="case-study-article">

  <section class="cs-banner lazy gradient-cover-white">
    <p class="balance-text subtle-text">Goodway Group Case Study</p>
    <h1 class="balance-text">Creating All-for-One Company Culture in a Remote Workforce</h1>
    <div>
      <a href="/docs/case-study/GoodwayGroupCaseStudy.pdf" class="button button-primary button-small">Download <sup>PDF</sup></a>
    </div>
  </section>

  <section class="case-study-section">

    <div class="flex flex-sidepanel">
      <div>
        <h2>A Technology Driven Advertising Agency</h2>
        <p>Goodway Group is one of the leading Digital Advertising agencies in the United States. They’ve been independently owned and operated for over 90 years and are trusted by major brands in the QSR, automotive, and healthcare industries. Although, Goodway Group originally started out as a printing company, their commitment to always being at the forefront of today’s changing advertising landscape, led them to transform to a digital media company in 2006. Since then, they’ve been able to form relationships with clients from all walks of life from Fortune 500 companies to small mom and pop’s by leveraging predictive analytics to help advertisers get the most value out of their ads. They’ve been recognized at The Drum’s Digital Trading Awards USA every year since 2016. </p>
        <p>Not only is Goodway Group committed to being a great digital media company, they are also committed to being a great employer. At Goodway Group, personal integrity, responsibility, and a strong work ethic are evangelized. Goodway Group is also a strong proponent of allowing their employees to work from anywhere virtually, which means they hire they can hire top talent regardless of location. Goodway Group’s strong company culture has helped them to be named one of the best places to work by Glassdoor, The Society of Human Resource Management, Fortune, and Great Place to Work. </p>

      </div>

      <dl class="stylized-dl">
        <dt>Company Size</dt>
        <dd>450+</dd>
        <dt>Locations</dt>
        <dd>Virtual</dd>
        <dt>Industry</dt>
        <dd>Digital Advertising</dd>
        <dt>Country</dt>
        <dd>USA</dd>
      </dl>
    </div>

  </section>

  <section class="case-study-section">
    <em class="case-study-category-text">The Challenge</em>
    <h2>Fostering Company Culture Across a Remote Workforce</h2>

    <p>Although having a virtual workforce allows Goodway Group to attract and hire top talent irrespective of location, it can also make fostering company values and culture more difficult without a central office to bring everyone together. Goodway Group really wanted to be able to communicate and promote their company values and champion the daily successes of their decentralized workforce. </p>
    <p>Goodway Group started their first recognition program with a private twitter feed where their employees could go and recognize their colleagues for a job well done and keep up to date on what’s going on in the company. However, since they are a digital minded company, they wanted to upgrade to a more formal recognition program that was integrated into the tools they already used. </p>
    <%= lazy_image_tag "pages/case-study/goodwaygroup/banner.jpg", class: "image-side-right", tag: "The company in a group together" %>
  </section>

  <section class="case-study-section">
    <em class="case-study-category-text">The Solution</em>
    <h2>Integrating Employee Recognitions into Yammer </h2>

    <p>Goodway Group ultimately chose Recognize to help build upon their existing recognition program, because of its seamless integration with Yammer, the ability to create custom recognition badges that reflected their company values, and the built-in reporting functionality. Recognize’s integration with Yammer goes beyond just posting recognitions in the feed. It allows users to send recognitions in the Yammer Stream or through Yammer user profiles, resulting in users never having to leave Yammer to send, receive, or view recognitions. Because the Goodway Group already used Yammer as their social collaboration tool of choice to keep their employees connected, using Recognize to send and receive recognitions was an easy transition for their staff. </p>
    <p>The ability to create custom recognition badges that fostered their company values was also a big plus for Goodway Group. With Recognize, Goodway Group was able to customize their badges to reflect company culture and values. They made badges like “HSD” to promote employees who were living their company slogan “Honestly Smart Digital” or “Techie” to recognize employees who found an innovative way to use a new technology. Being an advertising company, Goodway Group also loved that they could design the images for their recognition badges as well. They were able to design and upload images for each of their badges that were totally unique and 100% on point with their brand. Goodway Group also loved that reporting is built into Recognize’s platform. Managers are able to receive reports on a monthly basis that identifies their top performing employees. Company administrators can also see dashboards of how their staff are engaging with recognize. </p>

    <%= render partial: "home/jay_quote" %>

  </section>

  <section class="case-study-section">
    <div class="flex flex-sidepanel">
      <div>
        <em class="case-study-category-text">The Results</em>
        <h2>A United Workforce</h2>
        <p>Since joining the Recognize platform in 2014, Goodway Group has activated almost 330 users and continues to see their employees engaging in the platform year after year. In the past 5 years, they’ve sent over 37,948 recognitions and send on average 115 recognitions a week. </p>
        <p>Since implementing Recognize, they’ve also seen a 2x increase in the number of recognitions sent. Not only has implementing Recognize improved their employee engagement, it has helped to increase their bottom line as well. The first month they used Recognize was their best month for revenue yet and saw a 40% increase in sales. </p>
        <p>In addition to an increase in employee engagement and sales, Goodway Group also found that the customized badges helped them to promote company culture and have a more united workforce without needing to be in the same location.</p>
      </div>

      <div style="width: 200px; max-width: 100%;">
        <dl class="dt-stats centered">
          <dd>40%</dd>
          <dt>Increase in Sales</dt>
        </dl>
        <dl class="dt-stats centered">
          <dd>40k</dd>
          <dt>Recognitions submitted in 5 years</dt>
        </dl>
        <dl class="dt-stats centered">
          <dd>2x</dd>
          <dt>Increase in number of recognitions sent using Recognize</dt>
        </dl>
      </div>

    </div>
  </section>


  <section class="case-study-section">
    <h3>Top Employee Recognition Badges</h3>
    <%= lazy_image_tag "pages/case-study/goodwaygroup/badges.jpg", alt: "Goodway Group's top badges" %>
  </section>

  <section class="case-study-section">
    <em class="case-study-category-text">Concluding Thoughts</em>
    <h2>Integrate Recognition Program Into Your Workflow </h2>
    <p>The Recognize platform has helped Goodway Group to promote company values and culture across their remote workforce. By simply implementing Recognize, they were able to increase employee engagement, the number of recognitions sent, and hit record sales numbers. </p>
  </section>

</section>

<%= render "home/footer" %>
