<% content_for :meta_properties do %>
  <meta property="og:title" content="Customer Service Employee Recognition Case Study" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Recognizeapp.com" />
  <meta property="og:description" content="How a bank promotes customer service through employee recognition and monthly awards." />
  <meta property="og:image" content="https://recognizeapp.com/assets/pages/case-study/metrobank/index-card.jpg" />
<% end%>

<% content_for :title, "Customer Service Employee Recognition Case Study" %>
<% content_for :description, "How a bank builds a culture of customer service and appreciation through social employee recognition." %>

<section class="case-study-article">
  <section class="cs-banner lazy gradient-cover-white">
    <p class="balance-text subtle-text">Metrobank Case Study</p>
    <h1 class="balance-text">Promote a Customer Service-Driven Culture Through Employee Recognition</h1>
    <div>
      <a href="/docs/case-study/MetroBankCaseStudy.pdf" class="button button-primary button-small">Download <sup>PDF</sup></a>
    </div>
  </section>

  <section class="case-study-section">

    <div class="flex flex-sidepanel">
      <div>
        <h2>A Forward-Thinking UK Bank</h2>
        <p>Metro Bank was founded in 2010 with the goal of revolutionizing the banking industry in the UK. Metro Bank was the first new high street bank in over 100 years. They now have over 65 locations with over 200,000 customers and over £21 billion in assets. </p>
        <p>A dedication to excellent customer service has always been at the core of Metro Bank’s business. Some of the unique services that Metro Bank offers to their customers are: an average time of 15 minutes to open a new account and a 7-day guarantee for customers who switch bank. Their locations are also pet-friendly with free treats and water if you bring you furry friend to the bank with you. They also have machines that allow you to count and deposit your coins quickly and easily. Unlike most other banks, they are also open 7 days a week and from 8am to 8pm Monday through Friday, which allows customers to have a more flexible schedule when they need to go to the bank. They are even open on bank holidays. </p>
      </div>

      <dl class="stylized-dl">
        <dt>Company Size</dt>
        <dd>5000+</dd>
        <dt>Locations</dt>
        <dd>65</dd>
        <dt>Industry</dt>
        <dd>Financial Services</dd>
        <dt>Country</dt>
        <dd>United Kingdom</dd>
      </dl>
    </div>

  </section>

  <section class="case-study-section">
    <em class="case-study-category-text">The Challenge</em>
    <h2>Promoting a Customer Service-Driven Mindset</h2>
    <p>Metro Bank’s dedication to customer service was their main driver for looking for an employee recognition program. Metro Bank wanted a way to be able to promote this customer service-driven mindset to their employees. They ultimately decided that recognizing their employees when they exhibit certain values or behaviors was the best way to encourage them to internalize this mindset. Because of this, Metro Bank needed a tool that allowed them to customize their recognitions, so that they could create recognitions that supported their unique values as a company. </p>
    <p>Metro Bank also wanted a recognition tool that integrated into the social collaboration tools they were already using like Yammer. Having a tool that’s easy to use and doesn’t require much set-up was necessary to ensure adoption of the platform. Lastly, Metro Bank also wanted their employee recognition tool to have some built-in analytics, so that they could identify and reward top employees for their hard work and attention to customer needs. </p>
    <%= lazy_image_tag "pages/case-study/metrobank/store.jpg", class: "image-side-right", tag: "A bank branch" %>
  </section>

  <section class="case-study-section">
    <em class="case-study-category-text">The Solution</em>
    <h2>Recognizing & Rewarding Top Employees for Great Customer Service</h2>

    <p>Metro Bank ultimately chose Recognize because of the ability to create custom badges that reflected their company values. They created custom badges with their own unique images that promoted such customer service-driven values such as “Exceeds Expectations”, “Inspire and Nurture”, “Surprise and Delight”, and “Zest”. </p>
    <p>They also liked that Recognize easily integrated in Yammer, the tool that their employees were already using on a daily basis. The Yammer integration also allowed employees to stay within their workflow when sending and receiving recognitions, which meant more time for employees. </p>
    <p>Lastly, Metro Bank loved that Recognize’s Company Admin Dashboard allowed them to easily identify top employees, monitor and promote engagement across teams and roles, and see which company values were being showcased the most. </p>

    <%= render partial: "articles/quote", locals: {quote: {
        quote: "This is definitely a really simple solution to implement and carries so much momentum if followed through by everyone (including Executives!)",
        author: "Bruch Rioch",
        background_path: image_path("pages/case-study/metrobank/b.jpg")
    }} %>

  </section>

  <section class="case-study-section">
    <div class="flex flex-sidepanel">
      <div>
        <em class="case-study-category-text">The Results</em>
        <h2>Award Winning Customer Service</h2>
        <p>Since joining the Recognize platform in 2013, Metro Bank has activated over 5,127 active users. Metro Bank has created 9 different value-based badges in order to promote outstanding customer service across all branches and departments. They’ve also created an extra special “Metro Man” badge that can only be given by a member of a leadership team to someone who truly embodies the values of Metro Bank. With Recognize, it’s easy to create custom badges that can only be sent by certain roles within the company, such as a manager badge.</p>
        <p>In over 5 years of using Recognize, Metro Bank employees have sent over 34,210 recognitions and engagement remains strong to this day. An average of over 500 recognitions are sent per week through the platform. Lately, their “One Team” badge, given to employees who show an all-for-one or teamwork mindset, has been very popular. </p>
        <p>The results of using Recognize to promote company culture and excellent customer service has helped Metro Bank to win many awards in the past 5 years. They’ve won Glassdoor’s 2019 Best Place to Work, HR Excellence Awards, Most People Focused CEO, and numerous Customer Service Awards from Moneywise. </p>
      </div>

      <div style="width: 200px; max-width: 100%;">
        <dl class="dt-stats centered">
          <dd>59</dd>
          <dt>Awards won since implementing Recognize</dt>
        </dl>
        <dl class="dt-stats centered">
          <dd>34,210</dd>
          <dt>Sent recognitions in Recognize</dt>
        </dl>
        <dl class="dt-stats centered">
          <dd>5,127</dd>
          <dt>Active users in Recognize</dt>
        </dl>
      </div>

    </div>
  </section>


  <section class="case-study-section">
    <h3>Top Employee Recognition Badges</h3>
    <%= lazy_image_tag "pages/case-study/metrobank/badges.jpg", alt: "Metrobanks's top badges", class: "" %>
  </section>

  <section class="case-study-section">
    <em class="case-study-category-text">Concluding Thoughts</em>
    <h2>Employee Recognition That Promotes Company Values</h2>
    <p>With Recognize, Metro Bank is able to spread and promote their company culture through custom recognition badges. Their culture of putting the customer first has helped them to become known all across the UK and world for their excellent customer service. </p>
    <p>For more information about the Recognize platform, or if you’d like to be featured in a future case study, please contact support at support@recognizeapp.com.</p>
  </section>

</section>

<%= render "home/footer" %>