<% content_for :meta_properties do %>
  <meta property="og:title" content="Non-Monetary Employee Recognition Case Study" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Recognizeapp.com" />
  <meta property="og:description" content="A look into how a UK-based educational non-profit created a culture of recognition using non-monetary mechanisms" />
  <meta property="og:image" content="https://recognizeapp.com/assets/pages/case-study/teachfirst/index-card.jpg" />
<% end%>

<% content_for :title, "Non-Monetary Employee Recognition Case Study" %>
<% content_for :description, "A look into how a UK-based educational non-profit created a culture of recognition using non-monetary mechanisms." %>


<section class="case-study-article">

  <section class="cs-banner lazy gradient-cover-white">
    <p class="balance-text subtle-text">Teach First Case Study</p>
    <h1 class="balance-text">Non-Monetary Employee Recognition in the Non-Profit Space</h1>
    <div>
      <a href="/docs/case-study/TeachFirstCaseStudy.pdf" class="button button-primary button-small">Download <sup>PDF</sup></a>
    </div>
  </section>



  <section class="case-study-section">
    <h2>Fighting Educational Inequality in the UK</h2>
    <p>Teach First is a non-profit organization dedicated to solving educational inequality in England and Wales.  The core of Teach First is a program that allows recent graduates to enroll in a 2-year teacher training program. Over the 2-year program, participants work at primary and secondary schools where at least 50% of the students come from the 30% of poorest families in the United Kingdom. Teach First is one of the largest recruiters of graduates in the United Kingdom and has been helping economically disadvantaged children for over 17 years.</p>
  </section>
  <section class="case-study-section">
    <div class="flex flex-sidepanel">
      <div>
        <em class="case-study-category-text">The Challenge</em>
        <h2>Budget-Conscious Recognition Program</h2>
        <p>
          As a non-profit organization, it can be difficult to find the budget for a recognition program. Many recognition programs require giving monetary rewards like gift cards to employees, which can be difficult to do as a non-profit. However, recognizing your employees can be vital to retention. Employee retention in the non-profit sector is especially vital, where it’s easy to lose employees to for-profit companies with higher salaries. For Teach First, it was crucial that they found a recognition program that allowed them to give non-monetary recognitions, so that they could keep their employees happy without breaking their budget.
        </p>
        <p>Teach First also wanted a way to promote their culture and drive purpose within their organization. As a non-profit organization, it’s important that your staff always remembers that everyone is working towards the same common goal, and that everyone has certain organizational values they need to uphold. Teach First wanted a way to recognize their staff for exhibiting the values that are important to them as an organization.</p>

      </div>


      <dl class="stylized-dl">
        <dt>Company Size</dt>
        <dd>850+</dd>
        <dt>Locations</dt>
        <dd>England and Wales</dd>
        <dt>Industry</dt>
        <dd>Non-Profit</dd>
        <dt>Country</dt>
        <dd>United Kingdom</dd>
      </dl>
    </div>

  </section>



  <section class="case-study-section">
    <em class="case-study-category-text">The Solution</em>
    <h2>Non-Monetary Employee Recognitions</h2>
    <p>Teach First ultimately decided on Recognize because they were able to implement a non-monetary employee recognition program and create custom recognition badges to promote the values they most wanted their staff to exhibit. With Recognize, it’s super easy to set-up a non-monetary recognition program with custom recognition badges. All you have to do is decide on which values you would like you to promote, such as “Excellence” or “Collaboration”. You can then create a badge for each one of your values and even upload your own badge images to showcase your organization’s unique style. Users can then send these recognition badges to their peers or direct reports and congratulate them on a job well done! </p>
    <p>Teach First also loved that Recognize integrated with Outlook. With Recognize’s Outlook integration, staff could send and receive recognitions without ever leaving their workflow. Another big draw of Recognize for Teach First was our Manager Portal, that let manager’s see analytics on their direct reports without any manual work.  </p>

    <div class="row-fluid">
      <div class="span6">
        <dl class="stylized-dl">
          <dt>Company Values Promoted</dt>
          <dd>
            <ul class="bullet-list">
              <li>Excellence</li>
              <li>Collaboration</li>
              <li>Commitment</li>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="span6">
        <dl class="stylized-dl">
          <dt>Programs Deployed</dt>
          <dd>
            <ul class="bullet-list">
              <li>Social Employee Recognition</li>
              <li>Manager-to-Employee Recognition</li>
              <li>Private On-The-Spot Recognition</li>
            </ul>
          </dd>
        </dl>

      </div>
    </div>
  </section>
  <section class="case-study-section">
    <em class="case-study-category-text">The Results</em>
    <h2>Engaged and Motivated Employees </h2>
    <p>Since joining the Recognize platform, Teach First has activated over 850 users. Their staff has been tremendously active on the platform, sending on average 200 recognitions a week for a total of over 9,000 recognitions sent in the past 10 months. </p>

    <div class="row-fluid">
      <div class="span4">
        <dl class="dt-stats centered">
          <dd>200</dd>
          <dt>Recognitions sent per week</dt>
        </dl>
      </div>
      <div class="span4">
        <dl class="dt-stats centered">
          <dd>9,000</dd>
          <dt>Recognitions sent in 10 months</dt>
        </dl>
      </div>
      <div class="span4">
        <dl class="dt-stats centered">
          <dd>1 in 2</dd>
          <dt>Employees recognized each month</dt>
        </dl>
      </div>
    </div>
  </section>

  <section class="case-study-section">
      <em class="case-study-category-text">Concluding Thoughts</em>
      <h2>Employee Recognition for Charity Organizations</h2>
      <p>Here at Recognize, we are very passionate about helping non-profit organizations get a world-class employee recognition program at a price that fits their budget. For more information about the Recognize platform, or if you’d like to be featured in a future case study, please contact support at support@recognizeapp.com.</p>
  </section>
</section>

<%= render "home/footer" %>