<% content_for :meta_properties do %>
  <meta property="og:title" content="Credit Union Employee Recognition Case Study" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Recognizeapp.com" />
  <meta property="og:description" content="Increasing Employee Engagement in a Credit Union with 50 Locations" />
  <meta property="og:image" content="https://recognizeapp.com/assets/pages/case-study/visions-federal/index-card.jpg" />
<% end%>

<% content_for :title, "Credit Union Employee Recognition Case Study" %>
<% content_for :description, "Increasing Employee Engagement in a Credit Union with 50 Locations" %>

<section class="case-study-article">
  <section class="cs-banner lazy gradient-cover-white">
    <p class="balance-text subtle-text">Visions Federal Credit Union Case Study</p>
    <h1 class="balance-text">Increasing Employee Engagement in a Credit Union with 50 Locations</h1>
    <div>
      <a href="/docs/case-study/VisionsFCUCaseStudy.pdf" class="button button-primary button-small">Download <sup>PDF</sup></a>
    </div>
  </section>

  <section class="case-study-section">

    <div class="flex flex-sidepanel">
      <div>
        <h2>A Northeastern Based Federal Credit Union</h2>
        <p>Visions Federal Credit Union was started in 1966 by eight employees of IBM and a small investment. Each of their founders invested just $5 each. They started out with just one branch with almost 800 members called the IBM Endicott Employees Federal Credit Union. Almost 55 years later, they’ve grown their $40 investment into $5 billion in assets, 50 locations, and 210,000 members.</p>
        <p>As a non-profit, Visions FCU prides themselves on helping their community not only through their credit union, but through their program <strong>“Visions Cares”</strong> as well. Visions FCU has donated more than $6 million to their community, and their employees have volunteered thousands of hours of their time to help out causes important to the community. Helping local educators through grants or volunteering time in the classroom, offering veterans discounts and special bonuses, and hosting random acts of kindness like a free ice cream truck are just some of the ways that Visions FCU gives back to their communities. </p>

        <div class="quote">
          <%= image_tag "pages/case-study/visions-fcu/hr.png", alt: "Visons Federal's HR, Shannon McPartland", width: "120" %>
          <div class="content">
            <q>"Recognize helps contribute to our culture and engagement throughout our regions. It is also fun for our employees!"</q>
            <span>Shannon McPartland – Human Resources – Visions Federal Credit Union</span>
          </div>
        </div>
      
      </div>

      <dl class="stylized-dl">
        <dt>Company Size</dt>
        <dd><strong>750+</strong></dd>
        <dt>Locations</dt>
        <dd><strong>50</strong></dd>
        <dt>Industry</dt>
        <dd><strong>Credit Union</strong></dd>
        <dt>Country</dt>
        <dd><strong>United States</strong></dd>
      </dl>
    </div>

  </section>

  <section class="case-study-section">
    <em class="case-study-category-text">The Challenge</em>
    <h2 class="balance-text">Increasing Employee Engagement Across 50 Locations</h2>
    <p>With a workforce of over 750 employees in 50 different locations across New York, New Jersey, and Pennsylvania, Visions FCU needed a fun and easy way to increase employee engagement and build a culture of recognition.  They also knew that they needed something that was easily accessible for their employees and would allow them to reinforce core behaviors. Lastly, Visions FCU wanted a tool that could provide everything they needed at a great price.</p>
  </section>



  <section class="case-study-section">
    <em class="case-study-category-text">The Solution</em>
    <h2 class="balance-text">An Easy, Affordable, Customizable Program</h2>
    <p>Visions FCU chose Recognize for its ease of use and set-up, ability to customize badges, and great value. They did not want to spend a lot of time setting up their recognition program or training employees on a new software. Recognize was fast and simple to set-up, and their employees were able to use it in no time. Visions FCU also liked having the ability to customize badges, so that they could promote their core values and encouraged behaviors. Lastly, since Visions knew they wanted to reward their employees with gift cards and swag, they didn’t want to have to spend an arm and a leg on their software. Recognize’s price is affordable compared to competitors, so that they can spend their money on their employees instead of their software. </p>
  </section>

  <section class="case-study-section">
    <div class="flex flex-sidepanel">
      <div>
        <em class="case-study-category-text">The Results</em>
        <h2 class="balance-text">Engaged Employees</h2>
        <p>Since implementing Recognize over <strong>3 years ago</strong>, Visions Federal Credit Union has increased their employee engagement considerably. Over <strong>88% of staff receive recognition each month</strong>, and they have sent <strong>39,373 recognitions in the last 3 years</strong>. The employees thoroughly enjoy using Recognize, and they love being able to grow alongside Recognize for the past 3 years and beyond! </p>
      </div>

      <div style="width: 200px; max-width: 100%;">
        <dl class="dt-stats centered">
          <dd>88%</dd>
          <dt>Staff receive recognition monthly</dt>
        </dl>
        <dl class="dt-stats centered">
          <dd>39,373</dd>
          <dt>Recognitions received in 3 years</dt>
        </dl>
        <dl class="dt-stats centered">
          <dd>3+</dd>
          <dt>Years with Recognize</dt>
        </dl>
      </div>

    </div>
  </section>


  <section class="case-study-section">
    <h3>Top Employee Recognition Badges</h3>
    <%= lazy_image_tag "pages/case-study/visions-fcu/badges.png", alt: "Visions Federal's top badges", class: "" %>
  </section>

  <section class="case-study-section">
    <em class="case-study-category-text">Concluding Thoughts</em>
    <h2>United Employees Through Employee Recognition</h2>
    <p>At Recognize, we love helping our customers increase engagement at a great price! For more information about the Recognize platform, or if you’d like to be featured in a future case study, please contact support at support@recognizeapp.com.</p>
  </section>

</section>

<%= render "home/footer" %>
