#fb_workplace-start
  background: desaturate(lighten($headerBg, 50%), 60%)


  .protip
    img
      max-height: 200px


  img
    max-width: 100%

  .flex
    li
      padding: 15px 3%
      width: 50%


  .primary
    background: white
    width: 1400px
    max-width: 100%
    margin: auto

    & > *
      padding: 20px

    .zebra
      background: #f6f6f6

  #view-main-wrapper
    padding-top: 65px
    padding-bottom: 0

  #wrapper-outer
    padding-left: 0 !important
    padding-right: 0 !important

  .wrapper
    margin-right: 0 !important
    margin-left: 0 !important

  .split-screen
    height: 100%


@media (max-width: 768px)
  #fb_workplace-start
    #view-main-wrapper
      padding-top: 40px


@media (max-width: 900px)
  #fb_workplace-start
    .half
      img
        max-width: 100%

    .wrapper
      position: static