#company_admin_rewards_points-index
  .well
    width: 100%
    padding: 15px

  .well
    input[type=number],
    input[type=text]
      width: $ccWidth

@media (max-width: $tablet)

  #company_admin_rewards_points-index
    .button
      margin-bottom: 20px