<div class="grid-icon">
  <svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="r" transform="translate(-69.000000, -70.000000)" fill="#D8D8D8">
        <rect id="Rectangle-Copy-4" x="81" y="82" width="9" height="9" rx="0"></rect>
        <rect id="Rectangle-Copy-3" x="69" y="82" width="9" height="9" rx="0"></rect>
        <rect id="Rectangle-Copy-2" x="81" y="70" width="9" height="9" rx="0"></rect>
        <rect id="Rectangle-Copy" x="69" y="70" width="9" height="9" rx="0"></rect>
    </g>
  </svg>
</div>
