<section class="marketing-cta-banner">
  <div class="item">
    <h2 class="balance-text">Recognize pays for itself. And then some.</h2>
    <p class="tagline marginBottom10 balance-text">9 out of 10 employees agree, Recognize increases staff retention and employee satisfaction. Plus, automated employee recognition frees up cycles for HR.</p>
    <%= schedule_demo_link utm_content: 'marketing-cta' %>
  </div>
  <div class="item img-item">
    <%= lazy_image_tag 'users/amk.jpg', alt: "A Jewelist who engages her staff with weekly employee recognition and automated rewards." %>
  </div>

</section>
