<section class="centered" style="margin-top: 50px;" data-no-turbolink='true'>
  <div style="color: #ffa500; font-size: 22px; margin-bottom: 0;">★</div>
  <h2 style="margin-top: 10px;">Incentive, Recognize, Reward</h2>
  <p class="tagline balance-text width-800 margin-auto">Recognize increases staff productivity, provides company engagement insights, and helps retain top employees. Providing HR with an out-of-box solution since 2012.</p>

  <%= link_to "Schedule a demo", 'https://recognize-sales.youcanbook.me', class: "button button-large button-primary" %>

</section>
