<!DOCTYPE html>
<html class="marketing">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <title></title>

  <%= javascript_include_tag "outlook-load" %>
  <script>

    function getUrl() {
      return window.R.utils.queryParams().url;
    }

    window.extAsyncInit = function() {
      var url = getUrl();

      function getEndPoint() {
        var referrer = window.R.utils.queryParams().fb_iframe_origin;
        if (window.name == "messenger_ref") {
          referrer = "messenger.com";
        }

        return referrer;
      }

      url = decodeURIComponent(url);
      url = window.R.utils.addParamsToUrlString(url, {referrer: getEndPoint(), viewer: 'fb_workplace'}, false);

      <% if current_user.present? %>

      window.location.replace( url );

      <% else %>
      var app_id = '<%= Recognize::Application.config.rCreds["fb_workplace"]["app_id"] %>';
      MessengerExtensions.getContext(app_id,
        function success(thread_context){
          var idp = new window.R.IdpRedirecter();
          idp.checkIdp(null, url, {fb_workplace_params: thread_context})
             // this is for cases like unlinked account message
             .done(function (data) { showMessageAndClosePopup(data) })
             // this is for cases like missing params, unclaimed token, broken integration, etc.
             .fail(function(jqXHR) { showMessageAndClosePopup(jqXHR.responseJSON) });
        },
        function error(err){
          // error
          console.log('Could not get FB Workplace context: '+err);
        }
      );

      function showMessageAndClosePopup(data) {
        if (!data.message) return;

        $(".inner").hide();
        $(".errorMessage").html(data.message);
        setTimeout(function(){ MessengerExtensions.requestCloseBrowser() }, 4000);
      }

      <% end %>
    };

    setTimeout(function() {
      document.getElementById("wrapper").className = "loaded";
    }, 200);
  </script>
</head>

<body>
<script type="text/javascript" charset="utf-8">
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'Messenger'));
</script>

<style>
  html, body, #wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    min-width: 100%;
    font-family: lato, san francisco, ariel, sans serif;
  }

  p {
    font-size: 11px;
    color: #888;
  }

  .errorMessage {
    padding: 10px;
  }

  #wrapper {
    opacity: 0;
    -webkit-transition: .5s opacity linear;
    transition: .5s opacity linear;
  }

  #wrapper.loaded {
    opacity: 1;
  }

  #wrapper .inner {
    text-align: center;
  }

  .recognize {
    color: #1568A6;
    font-weight: 600;
  }
</style>

<div id="wrapper" style="display: flex; align-items: center; justify-content: center; height: 100%; min-height: 100%; width: 100%; min-width: 100%;">
  <div class="inner">
    <img src="/assets/icons/outlook-progress.gif" alt="Loading Recognize">
    <p style="font-family: lato, san francisco, ariel, sans serif;">Loading <span class="recognize">Recognize</span></p>
  </div>
  <div class="errorMessage"></div>
</div>

</body>

</html>
