<%= content_for :title, "Privacy Policy" %>
<%= content_for :description, "Recognize is a privacy focused employee recognition and rewards program. Learn how Recognize keeps your employee recognition data private and secure." %>

<div style="margin:50px 100px">
  <%= render :partial => 'privacy_policy' %>
</div>

<%= render :partial => 'footer' %>
