<% content_for :meta_properties do %>
  <meta property="og:title" content="Videos by Recognize" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Recognizeapp.com" />
  <meta property="og:description" content="Videos on the Recognize employee recognition & rewards program." />
  <meta property="og:image" content="/assets/pages/home-videos/play-recognize.jpg" />
<% end%>

<% content_for :title, "Recognize Videos" %>
<% content_for :description, "Watch videos to guide your through setting up your employee recognition and staff rewards program." %>
<% content_for :meta_keywords, "Employee recognition videos, employee rewards videos, recognize videos, years of service recognition" %>


<% videos = [
   {
       "snippet": {
           "title": "How to add Recognize to Sharepoint",
           "description": "It is super easy to add Recognize to all of the tools inside Office 365. In Sharepoint, Recognize is a web part that can be added on any page. It can be a full width experience or a side panel. The video goes through how to create both.",
           "resourceId": {
               "videoId": "oDYlzSHlI44"
           }
       }
   },
    {
        "snippet": {
            "title": "Mobile app demo Spring 2020",
            "description": "A short video showing how an employee would use the employee recognition mobile app by Recognize.",
            "resourceId": {
                "videoId": "7WPjv69TB8c"
            }
        }
    },

    {
        "snippet": {
            "title": "Employee recognition & rewards in Workplace by Facebook With Recognize",
            "description": "The Recognize employee recognition and rewards platform showcases its integration into Workplace by Facebook.
<br><br>
In Workplace, staff can:<br><br>
+ Send peer or leader recognition<br>
+ Send social or public recognition<br>
+ Privately nominate someone for a monthly, quarterly, or yearly award<br>
+ Receive years of service recognition or birthday recognition automatically<br>
+ Submit tasks or activities configured by the admins for points<br>
+ Review dashboards for managers or admins<br>
+ Redeem rewards such as international gift cards or company-fulfilled items<br>
+ Check out your profile, your colleague's profiles, or your colleague's direct report's profiles",
            "resourceId": {
                "videoId": "aCe-3W1haII"
            }
        }
    },



    {
        "kind": "youtube#playlistItem",
        "etag": "\"SJZWTG6xR0eGuCOh2bX6w3s4F94/39uEIYtu0kY1Lu4O3hii4nsmiZE\"",
        "id": "UExmdHFReFFWS0hjcV9iZVc4N2NwV3JBVXVuZFE1MmFTTy41NkI0NEY2RDEwNTU3Q0M2",
        "snippet": {
            "publishedAt": "2020-03-16T23:33:30.000Z",
            "channelId": "UCUI5rQrpuiXYvtkYU6ocGfw",
            "title": "Choosing an enterprise social collaboration tool for remote employees",
            "description": "Colocated, work from home, or remote workers need tools to collaborate. \n\nHere is a look at Slack, Workplace by Facebook, and Microsoft Teams as choices for business collaboration. I look at the features and pricing. Plus, considering the employee recognition and rewards options for all three.\n\nContact https://recognizeapp.com/contact for more information.",
            "thumbnails": {
                "default": {
                    "url": "https://i.ytimg.com/vi/T9k1C12S6nc/default.jpg",
                    "width": 120,
                    "height": 90
                },
                "medium": {
                    "url": "https://i.ytimg.com/vi/T9k1C12S6nc/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                },
                "high": {
                    "url": "https://i.ytimg.com/vi/T9k1C12S6nc/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                },
                "standard": {
                    "url": "https://i.ytimg.com/vi/T9k1C12S6nc/sddefault.jpg",
                    "width": 640,
                    "height": 480
                },
                "maxres": {
                    "url": "https://i.ytimg.com/vi/T9k1C12S6nc/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                }
            },
            "channelTitle": "Recognize Team",
            "playlistId": "PLftqQxQVKHcq_beW87cpWrAUundQ52aSO",
            "position": 0,
            "resourceId": {
                "kind": "youtube#video",
                "videoId": "T9k1C12S6nc"
            }
        }
    },
    {
        "kind": "youtube#playlistItem",
        "etag": "\"SJZWTG6xR0eGuCOh2bX6w3s4F94/C0PaNDoThP8BdsMaGwzEX4tvPo8\"",
        "id": "UExmdHFReFFWS0hjcV9iZVc4N2NwV3JBVXVuZFE1MmFTTy4yODlGNEE0NkRGMEEzMEQy",
        "snippet": {
            "publishedAt": "2020-03-16T23:33:58.000Z",
            "channelId": "UCUI5rQrpuiXYvtkYU6ocGfw",
            "title": "How to engage employees who work from home with employee recognition and rewards inside Office 365.",
            "description": "All companies can benefit from online collaboration tools that help engage remote employees who work from home (WFH). Adding an employee recognition and rewards tool like Recognize (https://recognizeapp.com) to your existing workflow, such as Outlook, or Sharepoint makes getting started fast and easy.\n\nContact Recognize for a demo - https://recognizeapp.com/contact",
            "thumbnails": {
                "default": {
                    "url": "https://i.ytimg.com/vi/PYJTqPtz0i4/default.jpg",
                    "width": 120,
                    "height": 90
                },
                "medium": {
                    "url": "https://i.ytimg.com/vi/PYJTqPtz0i4/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                },
                "high": {
                    "url": "https://i.ytimg.com/vi/PYJTqPtz0i4/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                },
                "standard": {
                    "url": "https://i.ytimg.com/vi/PYJTqPtz0i4/sddefault.jpg",
                    "width": 640,
                    "height": 480
                },
                "maxres": {
                    "url": "https://i.ytimg.com/vi/PYJTqPtz0i4/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                }
            },
            "channelTitle": "Recognize Team",
            "playlistId": "PLftqQxQVKHcq_beW87cpWrAUundQ52aSO",
            "position": 1,
            "resourceId": {
                "kind": "youtube#video",
                "videoId": "PYJTqPtz0i4"
            }
        }
    },
    {
        "kind": "youtube#playlistItem",
        "etag": "\"SJZWTG6xR0eGuCOh2bX6w3s4F94/8gE4sOx2rFJxrqVe7W8dvDFO42M\"",
        "id": "UExmdHFReFFWS0hjcV9iZVc4N2NwV3JBVXVuZFE1MmFTTy4wMTcyMDhGQUE4NTIzM0Y5",
        "snippet": {
            "publishedAt": "2020-03-16T23:34:09.000Z",
            "channelId": "UCUI5rQrpuiXYvtkYU6ocGfw",
            "title": "Using the Recognize composer to add GIFs, images, and links and how to disable those features",
            "description": "Using the Recognize composer to add GIFs, images, and links to messages and how to disable those features.",
            "thumbnails": {
                "default": {
                    "url": "https://i.ytimg.com/vi/DG0iJjI-0ho/default.jpg",
                    "width": 120,
                    "height": 90
                },
                "medium": {
                    "url": "https://i.ytimg.com/vi/DG0iJjI-0ho/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                },
                "high": {
                    "url": "https://i.ytimg.com/vi/DG0iJjI-0ho/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                },
                "standard": {
                    "url": "https://i.ytimg.com/vi/DG0iJjI-0ho/sddefault.jpg",
                    "width": 640,
                    "height": 480
                },
                "maxres": {
                    "url": "https://i.ytimg.com/vi/DG0iJjI-0ho/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                }
            },
            "channelTitle": "Recognize Team",
            "playlistId": "PLftqQxQVKHcq_beW87cpWrAUundQ52aSO",
            "position": 2,
            "resourceId": {
                "kind": "youtube#video",
                "videoId": "DG0iJjI-0ho"
            }
        }
    },
    {
        "kind": "youtube#playlistItem",
        "etag": "\"SJZWTG6xR0eGuCOh2bX6w3s4F94/tSZGegVG4To-NMypwaixeB88xUA\"",
        "id": "UExmdHFReFFWS0hjcV9iZVc4N2NwV3JBVXVuZFE1MmFTTy41MjE1MkI0OTQ2QzJGNzNG",
        "snippet": {
            "publishedAt": "2020-03-16T23:34:22.000Z",
            "channelId": "UCUI5rQrpuiXYvtkYU6ocGfw",
            "title": "Recognizing staff for infection prevention initiatives and rewarding with gift cards in Sharepoint.",
            "description": "Use positive affirmations to promote hand hygiene and other infection prevention programs inside Sharepoint.\n\nThe https://Recognizeapp.com platform allows for customizable employee recognition badges. These badges can symbolize washing hands, eating healthy, or drinking water.\n\nStaff can even report taking zinc or specific activities through the Recognize Incentives - https://recognizeapp.com/incentives\n\nLearn more about the Sharepoint integrations at https://recognizeapp.com/office-365\n\nThis is especially important right now (as of this writing) for the coronavirus and healthcare organizations.",
            "thumbnails": {
                "default": {
                    "url": "https://i.ytimg.com/vi/xDS8zIiNDIY/default.jpg",
                    "width": 120,
                    "height": 90
                },
                "medium": {
                    "url": "https://i.ytimg.com/vi/xDS8zIiNDIY/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                },
                "high": {
                    "url": "https://i.ytimg.com/vi/xDS8zIiNDIY/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                },
                "standard": {
                    "url": "https://i.ytimg.com/vi/xDS8zIiNDIY/sddefault.jpg",
                    "width": 640,
                    "height": 480
                },
                "maxres": {
                    "url": "https://i.ytimg.com/vi/xDS8zIiNDIY/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                }
            },
            "channelTitle": "Recognize Team",
            "playlistId": "PLftqQxQVKHcq_beW87cpWrAUundQ52aSO",
            "position": 3,
            "resourceId": {
                "kind": "youtube#video",
                "videoId": "xDS8zIiNDIY"
            }
        }
    },
    {
        "kind": "youtube#playlistItem",
        "etag": "\"SJZWTG6xR0eGuCOh2bX6w3s4F94/FdbQQ0cZhutyXfCByLyWX6K0Cvk\"",
        "id": "UExmdHFReFFWS0hjcV9iZVc4N2NwV3JBVXVuZFE1MmFTTy4wOTA3OTZBNzVEMTUzOTMy",
        "snippet": {
            "publishedAt": "2020-03-16T23:34:53.000Z",
            "channelId": "UCUI5rQrpuiXYvtkYU6ocGfw",
            "title": "Viewing employee anniversaries for managers and admins in Recognize",
            "description": "This video demonstrates how to view direct reports' anniversaries as a manager and how to view anniversaries across the organization as an admin.",
            "thumbnails": {
                "default": {
                    "url": "https://i.ytimg.com/vi/te5En1ocSvU/default.jpg",
                    "width": 120,
                    "height": 90
                },
                "medium": {
                    "url": "https://i.ytimg.com/vi/te5En1ocSvU/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                },
                "high": {
                    "url": "https://i.ytimg.com/vi/te5En1ocSvU/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                },
                "standard": {
                    "url": "https://i.ytimg.com/vi/te5En1ocSvU/sddefault.jpg",
                    "width": 640,
                    "height": 480
                },
                "maxres": {
                    "url": "https://i.ytimg.com/vi/te5En1ocSvU/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                }
            },
            "channelTitle": "Recognize Team",
            "playlistId": "PLftqQxQVKHcq_beW87cpWrAUundQ52aSO",
            "position": 4,
            "resourceId": {
                "kind": "youtube#video",
                "videoId": "te5En1ocSvU"
            }
        }
    },
    {
        "kind": "youtube#playlistItem",
        "etag": "\"SJZWTG6xR0eGuCOh2bX6w3s4F94/B5HN0bCVdKgjK5otHXa8OHowT3U\"",
        "id": "UExmdHFReFFWS0hjcV9iZVc4N2NwV3JBVXVuZFE1MmFTTy4xMkVGQjNCMUM1N0RFNEUx",
        "snippet": {
            "publishedAt": "2020-03-16T23:35:08.000Z",
            "channelId": "UCUI5rQrpuiXYvtkYU6ocGfw",
            "title": "Viewing employee engagement data in Recognize",
            "description": "View the employee recognition, incentives, and social data points of your groups, countries, departments, or roles in the Recognizeapp.com Company Admin.",
            "thumbnails": {
                "default": {
                    "url": "https://i.ytimg.com/vi/_PgpZmFyVTo/default.jpg",
                    "width": 120,
                    "height": 90
                },
                "medium": {
                    "url": "https://i.ytimg.com/vi/_PgpZmFyVTo/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                },
                "high": {
                    "url": "https://i.ytimg.com/vi/_PgpZmFyVTo/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                },
                "standard": {
                    "url": "https://i.ytimg.com/vi/_PgpZmFyVTo/sddefault.jpg",
                    "width": 640,
                    "height": 480
                }
            },
            "channelTitle": "Recognize Team",
            "playlistId": "PLftqQxQVKHcq_beW87cpWrAUundQ52aSO",
            "position": 5,
            "resourceId": {
                "kind": "youtube#video",
                "videoId": "_PgpZmFyVTo"
            }
        }
    },
    {
        "kind": "youtube#playlistItem",
        "etag": "\"SJZWTG6xR0eGuCOh2bX6w3s4F94/1zrWbyN2CHgGfdlMedn8axhUGTg\"",
        "id": "UExmdHFReFFWS0hjcV9iZVc4N2NwV3JBVXVuZFE1MmFTTy41MzJCQjBCNDIyRkJDN0VD",
        "snippet": {
            "publishedAt": "2020-03-16T23:35:23.000Z",
            "channelId": "UCUI5rQrpuiXYvtkYU6ocGfw",
            "title": "How Staff Can Complete Activities in Workplace by Facebook to Earn Points",
            "description": "Using the https://Recognizeapp.com Incentives, employees can complete activities or tasks inside Workplace by Facebook mobile app or desktop app. From there, managers are notified to approve or deny the list of tasks. These incentives can be worth points that staff can redeem in a rewards catalog of gift cards and company items. Admins can showcase who has earned points in the Leaderboards. All of this is accessible inside the Workplace by Facebook.",
            "thumbnails": {
                "default": {
                    "url": "https://i.ytimg.com/vi/UtrE1rXWdXM/default.jpg",
                    "width": 120,
                    "height": 90
                },
                "medium": {
                    "url": "https://i.ytimg.com/vi/UtrE1rXWdXM/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                },
                "high": {
                    "url": "https://i.ytimg.com/vi/UtrE1rXWdXM/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                },
                "standard": {
                    "url": "https://i.ytimg.com/vi/UtrE1rXWdXM/sddefault.jpg",
                    "width": 640,
                    "height": 480
                },
                "maxres": {
                    "url": "https://i.ytimg.com/vi/UtrE1rXWdXM/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                }
            },
            "channelTitle": "Recognize Team",
            "playlistId": "PLftqQxQVKHcq_beW87cpWrAUundQ52aSO",
            "position": 6,
            "resourceId": {
                "kind": "youtube#video",
                "videoId": "UtrE1rXWdXM"
            }
        }
    },
    {
        "kind": "youtube#playlistItem",
        "etag": "\"SJZWTG6xR0eGuCOh2bX6w3s4F94/aAjbzptRNqZgH8zJdEGXhahfdyg\"",
        "id": "UExmdHFReFFWS0hjcV9iZVc4N2NwV3JBVXVuZFE1MmFTTy5DQUNERDQ2NkIzRUQxNTY1",
        "snippet": {
            "publishedAt": "2020-03-16T23:40:18.000Z",
            "channelId": "UCUI5rQrpuiXYvtkYU6ocGfw",
            "title": "Sync users from Yammer to Recognize",
            "description": "Never worry about managing your users again with the Yammer user sync from Recognizeapp.com.",
            "thumbnails": {
                "default": {
                    "url": "https://i.ytimg.com/vi/CX3k0PwY-Co/default.jpg",
                    "width": 120,
                    "height": 90
                },
                "medium": {
                    "url": "https://i.ytimg.com/vi/CX3k0PwY-Co/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                },
                "high": {
                    "url": "https://i.ytimg.com/vi/CX3k0PwY-Co/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                },
                "standard": {
                    "url": "https://i.ytimg.com/vi/CX3k0PwY-Co/sddefault.jpg",
                    "width": 640,
                    "height": 480
                },
                "maxres": {
                    "url": "https://i.ytimg.com/vi/CX3k0PwY-Co/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                }
            },
            "channelTitle": "Recognize Team",
            "playlistId": "PLftqQxQVKHcq_beW87cpWrAUundQ52aSO",
            "position": 7,
            "resourceId": {
                "kind": "youtube#video",
                "videoId": "CX3k0PwY-Co"
            }
        }
    },
    {
        "kind": "youtube#playlistItem",
        "etag": "\"SJZWTG6xR0eGuCOh2bX6w3s4F94/obesd8w3BgFaBxSb29Xtzxnd3p8\"",
        "id": "UExmdHFReFFWS0hjcV9iZVc4N2NwV3JBVXVuZFE1MmFTTy45NDk1REZENzhEMzU5MDQz",
        "snippet": {
            "publishedAt": "2020-03-16T23:45:29.000Z",
            "channelId": "UCUI5rQrpuiXYvtkYU6ocGfw",
            "title": "Setting up an employee anniversary program in Recognize - recognizeapp.com",
            "description": "",
            "thumbnails": {
                "default": {
                    "url": "https://i.ytimg.com/vi/rmFUzUWa1bw/default.jpg",
                    "width": 120,
                    "height": 90
                },
                "medium": {
                    "url": "https://i.ytimg.com/vi/rmFUzUWa1bw/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                },
                "high": {
                    "url": "https://i.ytimg.com/vi/rmFUzUWa1bw/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                },
                "standard": {
                    "url": "https://i.ytimg.com/vi/rmFUzUWa1bw/sddefault.jpg",
                    "width": 640,
                    "height": 480
                },
                "maxres": {
                    "url": "https://i.ytimg.com/vi/rmFUzUWa1bw/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                }
            },
            "channelTitle": "Recognize Team",
            "playlistId": "PLftqQxQVKHcq_beW87cpWrAUundQ52aSO",
            "position": 8,
            "resourceId": {
                "kind": "youtube#video",
                "videoId": "rmFUzUWa1bw"
            }
        }
    }
]
%>

<div class="padding30">
  <h1>Recognize Videos</h1>

  <ul class="flex-grid flex-grid-3">

    <% @cms_videos.each do |video| %>
      <% videoData = {
          snippet: {
              title: video.title,
              description: video.description,
              resourceId: {
                  videoId: video.youtube_id
              }
          }
      } %>


      <%= render partial: 'home/video', locals: {video: videoData} %>
    <% end %>

    <% videos.each do |video| %>
      <%= render partial: 'home/video', locals: {video: video} %>
    <% end %>

  </ul>

</div>

<%= render partial: "footer" %>
<%= render partial: "layouts/youtube_load" %>
