<div class="flex-centered">

  <div class="congrats centered">
    <h1><%= t('welcome.congratulations') %></h1>
    <p><%= t('welcome.account_is_activated_next_steps') %></p>

    <%= render partial: "companies/check_list" %>
  </div>

</div>
