/* line 61, /Users/peter/work/recognize/app/assets/stylesheets/pages/home/microsoft_teams_landing.sass */
body#ms_teams-signup
  padding-top: 0 !important

  #view-main-wrapper
    padding-top: 20px

  #navbar
    display: none
