<script id="user_avatar_template" type="text/html">
  <div class="clearfix row-fluid">
    <div class="span2">
      <img src="{{avatar_url}}" style="max-width: 100%"/>
    </div>
    <div class="span10">
      <div class="clearfix">
        <div class="col-sm-6">{{name}}</div>
      </div>
    </div>
  </div>
</script>

