<div id="rewards-header-area" class="clearfix" data-turbolinks="false">
  <div class="page-main marginBottom10">
    <h2>500 gift cards or make up your own rewards</h2>
    <p>Provide gift cards and company-fulfilled reward management to your staff, such as an Amazon card or paid time off.</p>
    <p><%= link_to("Upgrade now", welcome_path(upgrade: true), class: "unlocked button button-highlight") %> <%= link_to("Learn more about rewards", rewards_path, class: "unlocked button button-highlight") %></p>
    <p>Have questions? <%= link_to("Contact us", contact_sales_path, class: "unlocked") %></p>
  </div>
</div>
