#reports-index
  background: #F7F7F7

  .leaderboard-wrapper
    margin-bottom: 10px

  .tab-content .tab-pane
    border-top: 1px #ddd solid

  .nav-tabs + .tab-content .tab-pane
    border-top: none

  .tab-pane.active
    background: white

  .tab-pane
    padding: 10px
    border-left: 1px #ddd solid
    border-right: 1px #ddd solid
    border-bottom: 1px #ddd solid

  #yammer-stats-tab
    .leaderboard
      .header-row
        font-size: 16px
        td
          padding-bottom: 10px
