@media (min-width: 1100px)
  .new-tskz-task-wrapper
    form
      @include flex-display()
      .control-group
        @include flex-display()
        @include flex-direction(column)

        #tskz_tskz_task_value
          width: 100px
.new-tskz-task-wrapper
  form
    .control-group
      margin-right: 10px
    h5, label, input.button
      margin-top: auto
    input, select
      margin-bottom: 0

    input.button
      margin-bottom: 2px

  .select2-search__field
    height: 30px
  .select2-selection.select2-selection--single
    min-height: 38px
    .select2-selection__rendered
      line-height: 34px
    .select2-selection__placeholder
      font-size: 15px
#tasks-table
  th.actions, th.task_name
    min-width: 100px


#company_admin_tskz_completed_tasks-index, #manager_admin_tskz_completed_tasks-index
  .resolve-task-submission-wrapper 
    float: right

  .task-submission-swal
    padding: 0px 0px 20px 0px !important

  .task-submission-header
    color: $headerTextColor
    background: $headerBg
    display: flex
    text-align: left

    .avatar-wrapper
      margin-right: 10px
      
    .job-title
      font-size: 14px
      font-style: italic

  .task-submission-subheader
    color: $headerTextColor
    background: lighten($headerBg, 5%)
    text-align: left

  .task-submission-body
    margin-top: 20px
    padding-left: 10px
    padding-right: 10px

    table
      th
        color: $lighterGrayTextColor
        font-size: 14px
        text-align: left

      td
        padding-top: 10px
        padding-right: 10px
        text-align: left
        font-size: 16px

        &:last-child
          padding-right: 0px

        &.actions
          min-width: 155px

        label
          display: inline !important

    hr
      border: 1px solid !important
      color: #f0f0f0 !important
      height: 1px !important

    #task_submission_approval_comment
      padding: 10px
      width: 100%

  .total-points-wrapper
    float: right
    font-size: 20px
    padding-top: 5px
