aws:
  aws_access_key_id: <%= ENV['aws_aws_access_key_id'] || '' %>
  aws_secret_access_key: <%= ENV['aws_aws_secret_access_key'] || '' %>
  region: <%= ENV['aws_region'] || '' %>
  cloud_front: <%= ENV['aws_cloud_front'] || '' %>
  bucket: <%= ENV['aws_bucket'] || '' %>
  sftp_bucket: <%= ENV['aws_sftp_bucket'] || '' %>
  elasticache:
    endpoint: <%= ENV['aws_elasticache_endpoint'] || '' %>
pusher:
  app_id: <%= ENV['pusher_app_id'] || '' %>
  key: <%= ENV['pusher_key'] || '' %>
  secret: <%= ENV['pusher_secret'] || '' %>
google:
  client_id: <%= ENV['google_client_id'] || '' %>
  secret: <%= ENV['google_secret'] || '' %>
yammer:
  client_id: <%= ENV['yammer_client_id'] || '' %>
  client_secret: <%= ENV['yammer_client_secret'] || '' %>
  namespace: <%= ENV['yammer_namespace'] || '' %>
o365:
  client_id: <%= ENV['o365_client_id'] || '' %>
  secret: <%= ENV['o365_secret'] || '' %>
segment:
  write_key: <%= ENV['segment_write_key'] || '' %>
stripe:
  secret_key: <%= ENV['stripe_secret_key'] || '' %>
  public_key: <%= ENV['stripe_public_key'] || '' %>
tangocard:
  endpoint: <%= ENV['tangocard_endpoint'] || '' %>
  username: <%= ENV['tangocard_username'] || '' %>
  password: <%= ENV['tangocard_password'] || '' %>
mandrill:
  username: <%= ENV['mandrill_username'] || '' %>
  password: <%= ENV['mandrill_password'] || '' %>
closeio:
  api_key: <%= ENV['closeio_api_key'] || '' %>
fb_workplace:
  app_id: <%= ENV['fb_workplace_app_id'] || '' %>
  app_secret: <%= ENV['fb_workplace_app_secret'] || '' %>
  verify_token: <%= ENV['fb_workplace_verify_token'] || '' %>
slack: # tokens are relative to slack - so outgoing means outgoing from slack, and incoming means incoming to slack
  client_id: <%= ENV['slack_client_id'] || '' %>
  outgoing_token: <%= ENV['slack_outgoing_token'] || '' %>
  incoming_token: <%= ENV['slack_incoming_token'] || '' %>
smtp_settings:
  user_name: <%= ENV['smtp_settings_user_name'] || '' %>
  password: <%= ENV['smtp_settings_password'] || '' %>
  address: <%= ENV['smtp_settings_address'] || 'smtp.mailtrap.io' %>
  domain: <%= ENV['smtp_settings_domain'] || 'smtp.mailtrap.io' %>
  port: <%= ENV['smtp_settings_port'] || 2525 %>
  authentication: <%= ENV['smtp_settings_authentication'] || 'cram_md5' %>
twilio:
  sid: <%= ENV['twilio_sid'] || '' %>
  token: <%= ENV['twilio_token'] || '' %>
  number: <%= ENV['twilio_number'] || '' %>
pushwoosh:
  application_code: <%= ENV['pushwoosh_application_code'] || '' %>
  token: <%= ENV['pushwoosh_token'] || '' %>
mailchimp:
  api_key: <%= ENV['mailchimp_api_key'] || '' %>
  master_list_id: <%= ENV['mailchimp_master_list_id'] || '' %>
currency_layer:
  api_key: <%= ENV['currency_layer_api_key'] || '' %>
giphy:
  api_key: <%= ENV['giphy_api_key'] %>
recaptcha:
  site_key: <%= ENV['recaptcha_site_key'] %>
  secret_key: <%= ENV['recaptcha_secret_key'] %>
cms:
  host: <%= ENV['cms_host'] %>

translation_io:
  api_key: <%= ENV['translation_io_api_key'] || '' %>
lockbox:
   master_key: <%= ENV["LOCKBOX_MASTER_KEY"] || '' %>