#home-anniversaries
  .check-list
    li
      font-size: 1rem

  .button.secondary
    font-size: 14px
    height: 53px

  #stream
    img
      width: 379px
      max-width: 100%

  img.shadow
    box-shadow: 0 0 10px 3px rgba(0,0,0,.4)

  .banner
    background: #09314D
    text-align: center
    margin-bottom: 50px
    padding-bottom: 220px
    position: relative

    .inner
      padding: 50px 50px 0 50px

    img
      position: absolute
      height: 264px
      width: 848px
      bottom: -60px
      left: 50%
      margin-left: -424px
      max-width: none


    h1, p, h2, h3, h4
      color: white

  .anniversary-steps
    max-width: 500px
    margin: 0 auto
    padding: 0 5px

    li
      margin-bottom: 5px
      position: relative
      min-height: 90px

    img
      position: absolute
      left: 0
      top: 5px
      width: 41px

    p
      color: #163868
      padding-left: 50px
      font-size: 1rem
      line-height: 26px

  #user_sync
    img
      max-width: 350px

  #integrations
    .span4
      text-align: center

      img
        display: inline
        height: 65px

@media (max-width: 750px)
  #home-anniversaries
    .sign-up-wrapper
      .button
        margin-bottom: 20px
        
    .anniversary-steps
      img
        max-width: 35px

      p
        padding-left: 50px