#home-demo_survey
  #intro
    background: darken($headerBg, 20%)
    background-image: none !important

  #big-point-wrapper
    margin-top: -180px
    background: #fffc
    z-index: 2
    width: 80%
    position: relative
    margin-right: auto
    margin-left: auto

  .get-report
    margin-bottom: -335px
    z-index: 2
    position: relative
    background: #fffd
    width: 800px
    margin-left: auto
    margin-right: auto
    max-width: 100%


@media (max-width: 768px)
  #home-demo_survey
    .take-away-graphic
      max-width: 100%
      width: 150px

    .get-report
      img
        display: none

@media (max-width: 1300px)
  #home-demo_survey
    .get-report
      margin-bottom: 0

    #big-point-wrapper
      margin-top: 0
      width: 100%