#home-features
  .feature-category-list
    .feature-list-item
      width: 45%
      margin-right: 5%
      margin-bottom: 30px

    @media (max-width: $tablet)
      flex-direction: column

      .feature-list-item
        width: 100%
