#home-pricing
  background: #F5F5F5

  .pricing-statement
    font-size: 20px
    font-style: italic

  .price-package-label
    font-size: 12px
    text-transform: uppercase


  #intro
    padding-bottom: 40px
    background: white
    background-image: none !important

    .tagline, h1
      text-shadow: none
      color: black

  #points
    background-image: linear-gradient(35deg, #4B729A 0%, #345271 93%)
    padding: 20px

    .centered
      h2, h3, h4, h5
        color: white

    .pricing-option-table
      border: 1px solid #979797
      max-width: 100%
      width: 1000px
      margin: auto
      margin-bottom: 50px
      background: #fff
      flex-wrap: wrap
      background-image: linear-gradient(-24deg, darken(#fff, 2%) 52%, #fff 0%)

      img
        width: 30px
        max-width: none
        margin-top: 6px

      &, & > li
        display: flex

        &, & h4
          color: black

      & > li
        padding: 15px
        border-right: 1px solid #979797
        width: 33%

        &:last-child
          border-right: 0

        div
          margin-right: 10px


  .prices
    width: 95%
    max-width: 100%
    margin: 1em auto 5em auto


    .price-summary
      p
        line-height: 23px

      .icon-wrapper
        margin-bottom: 3px
        display: inline-block !important
        border-radius: 50%
        padding: 10px
        z-index: 2
        position: relative
        top: -17px
        margin-bottom: -9px

        &:after
          position: absolute
          top: 1px
          border-radius: 50%
          height: 65%
          width: 91%
          box-shadow: 0 -11px 19px -6px #00000052
          display: block
          content: ""
          margin: 0 0 0 3px
          left: 0
          padding: 0
          background: transparent

      img
        height: 29px

    .bronze, .silver, .gold
      font-weight: 600

    .bronze
      color: #CD7F32 !important

    .silver
      color: #a5a5a5 !important

    .gold
      color: #b39803 !important


  $priceColors: #4384b5 #CD7F32 #969696 #b39803 #556472

  @each $c in $priceColors
    $i: index($priceColors, $c) - 1

    .price-header-#{$i}
      background-image: linear-gradient(-24deg, darken($c, 2%) 52%, $c 0%)
    .price-header-#{$i} .icon-wrapper
      background: $c


  .price
    float: left
    width: 22%
    text-align: center
    background: white
    margin: 0 1.5%
    border-radius: 6px
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.50)
    margin-top: -60px
    z-index: 2
    position: relative


    .price-header
      padding: 0 15px 40px
      margin-bottom: 30px
      min-height: 350px
      position: relative

      .button
        position: absolute
        bottom: 20px
        left: 10%
        width: 80%

      .price-package-label
        font-weight: 600

      h2, .price-package-label
        color: white

      h2
        font-weight: 600
        text-shadow: 0 0 10px rgba(0,0,0,.3)

    li
      font-size: 16px
      margin-bottom: 5px
      padding: 5px 5px 10px 5px
      border-bottom: 1px solid #e2e6e8
      color: black !important

      sup
        color: $recognizeColor
        font-weight: 600
        text-transform: uppercase
        font-size: .6em

      &:hover
        color: $headerBg

      &:last-child
        border-bottom: none

    p
      @include homeText()
      color: white


@media (max-width: 1250px)
  #home-pricing
    .prices
      width: 100%

      .price
        margin: 0 0.5%
        width: 24%

      .price-summary
        height: auto

@media (max-width: 1050px)
  #home-pricing
    .prices
      width: 100%

      .price
        float: none
        margin-right: auto
        margin-left: auto
        width: 95%
        margin-bottom: 50px


@media (max-width: 750px)
  #home-pricing
    #points
      .pricing-option-table
        & > li
          width: 100% !important


@media (max-width: 500px)
  #home-pricing
    font-size: .5em
