.consent
  .error
    padding: 0 !important
  input
    display: inline-block
  label
    display: inline
#home-sign_up
  #action
    margin: 0 auto
  .home-form
    .error
      padding-right: 100px

@media (max-width: 768px)
  #signups-recognize
    #view-main-wrapper
      padding-top: 0

@media (max-width: 560px)
  #home-sign_up
    #wrapper-outer
      padding: 0

