#home-yam_gam
  .sync
    img
      width: 270px
      box-shadow: 0 0 10px rgba(0,0,0,0.4)

  #intro
    background: $homeDarkBg

    svg
      z-index: 1
    .inner
      z-index: 2

  .row-fluid
    margin-bottom: 0

  #points
    .quotes
      border-top: 0
      padding-top: 25px
      padding-bottom: 25px

      .inner
        width: 800px
        margin: auto

      .blockquote-testimonial
        footer, .content
          padding-left: 116px

        .content
          margin-bottom: 10px

      img
        height: 100px
        width: 100px

    .likes
      .inner
        margin: auto
        width: 800px
        max-width: 100%

        img
          margin-right: 50px
          margin-bottom: 20px
          width: 275px

    .post
      img
        width: 450px
        margin-bottom: 15px

@media (max-width: 550px)
  #home-yam_gam
    .blockquote-testimonial
      margin-left: 0
      margin-right: 0