$headerBg: #194e6b

$buttonPrimaryBg: $headerBg

$linkColor: #f39847

$highlightTopColor: #f37243
$highlightBottomColor: $highlightTopColor

$hrColor: #b3cfdd

$success: $highlightTopColor

$bodyText: #484d57

.has-theme header #header-loggedin-logo img,
#recognitions-index .theme-logo-large,
#recognitions-grid .theme-logo-large
  height: 59px !important
