#signups-fb_workplace

  h1
    background: none
    padding-left: 0

  .new_user_session
    padding-bottom: 0

  .image-left-content-right
    max-width: 900px

    img
      height: 70px

  .fb-signup-wrapper
    max-width: 1000px
    margin: auto

  @media (max-width: $tablet)
    padding-top: 0px !important


