<% content_for :meta_properties do %>
  <meta property="og:title" content="Recognize Product Updates" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Recognizeapp.com" />
  <meta property="og:description" content="See the history of Recognize app feature launches and what just launched." />
  <meta property="og:image" content="/assets/pages/integrations/social-media-pic.jpg" />
<% end%>

<% content_for :title, _("Product Updates") %>
<% content_for :description, _("Recognize keeps getting better with weekly deployments. Check back regularly for improvements and fixes.") %>

<div class="top-banner padding30 width-1000 margin-auto">
  <div class="marginRight25">
    <h1 class="balance-text"><% _('Recognize Product Updates') %></h1>
    <p class="tagline balance-text"><%= _('Recognize is updated almost every week. Major updates and fixes are listed here to help customers and prospective customers learn of continued improvements.') %></p>
    <a href='https://status.recognizeapp.com' target='_blank' class="button button-chromeless"><%= _('Check server status') %></a>
  </div>
</div>

<hr class="hr marginBottom50">

<%= render partial: 'cms/posts', locals: {posts: @product_updates} %>

<%= render partial: 'home/footer' unless current_user.present? %>
