.badge-loader
  width: 43px
  position: absolute
  left: 10px
  top: 0px

#badge-list
  .badges-remaining-wrapper
    color: #999    
    span
      color: #999 !important

#badge-edit
  & + .badges-remaining-wrapper
    margin-top: 10px