.form-centered
  text-align: center
  
  form
    display: inline-block
  
    input[type=submit]
      text-align: center

input[type="color"]
  display: block !important
  width: 80px
  height: 40px !important
  padding: 0 !important

.select2-search__field
  box-shadow: none !important

@media (max-width: 600px)
  .form-centered
    form
      display: block