<div class="flex-centered">
  <div class="centered">
    <h1 class="marginBottom40 marginTop40"><%= t("recognitions.sent_for_approval") %></h1>

    <%= render 'recognitions/show/recognition_preview', recognition: recognition %>
  </div>
</div>
