.text-centered
  text-align: center
.errors
  background: transparent

.select2-container--default .select2-results>.select2-results__options
    max-height: 175px !important

@import "panel/Office"
@import "panel/officethemes"
