$ccWidth: 400px

.cc-wrapper
  input[type=number],
  input[type=text]
    width: $ccWidth

  #payment-cvc-wrapper,
  #payment-cvc-wrapper + .control-group
    input
      width: auto !important
      margin-right: 15px

