.giftcard-table-wrapper

  .giftcard-table-inner
    height: 350px
    width: 390px
    overflow: hidden
    text-align: left
    margin: auto

    th
      font-weight: 600
      color: $gray

    table
      td, th
        padding: 10px
        border-bottom: 1px solid $lightGray

  &.open .giftcard-table-inner
    height: auto