.leaderboard-wrapper
  .dropdown-wrapper
    @media (min-width: $phone)
      float: left

  .selected-wrapper
    margin-top: 5px

  .filter-wrapper
    margin-bottom: 10px

  .attribute-filter-key
    height: 35px
    margin: 1px
    width: auto

  .attribute-filter-value
    margin-right: 1px
    min-height: 35px
    width: 55px !important
