.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus
  background: $buttonPrimaryBg !important

.ie
  .tab-nav
    ul
      li.active::after
        height: 3px

.ie .tab-nav ul li a
  padding-bottom: 9px

.tab-nav
  margin-top: 20px
  width: 100%
  margin-bottom: 25px

  .hr-bottom
    @include hr-thick()
    position: relative
    top: -11px
    z-index: 1

  ul
    li:last-child
      margin-right: 0

    li
      float: left
      margin-right: 25px

      a
        text-decoration: none
        font-weight: 400
        text-transform: uppercase
        color: #717e84
        display: block
        padding-bottom: 22px

      &.active
        position: relative

        a
          color: #000
          font-weight: 400

        &::after
          @include arrowDown()
          background: $headerBg
          bottom: 9px


@media (max-width: $tablet)
  .tab-nav
    a
      font-size: 12px
