<div class='text-centered'>
  <%= link_to_o365 t("home.office365.sign_in"), button: false, class: "button button-no-chrome" %>
  <%= link_to_yammer t("yammer.sign_in"), class: "button button-no-chrome" %>
  <%= link_to_google t('user_session.sign_in_with_google'), class: "marginBottom10 text-centered inlineBlock" %>
</div>
