<ul class="blue-links" data-turbolinks="false">
  <li>
    <%= viewer_link_to "Pricing", pricing_path, iframe_viewer?, id: "home-pricing-page-bottom-link" %>
  </li>
  <li>
    <%= schedule_demo_link css_classes: "", utm_conent: "learn more about recognize side bar" %>
  </li>
</ul>
