<h2>Details for the company are as follows:</h2>

<ol>
  <li>
    Name: <%= @company.name %>
  </li>
  <li>
    Id: <%= @company.id %>
  </li>
  <li>
    Domain: <%= @company.domain %>
  </li>
  <li>
    Balance: <%= @account.balance %>
  </li>
</ol>