$headerBg: #0092BC;
$linkColor: #4f8798;
$btnBlueTopColor: $linkColor;
$buttonPrimaryBg: #0883bc;
$bodyText: #003E51;
$warningBg: #d74c28;

$success: #56aa3e;
$blueDark: #06263a;
$actionDarkBlue: #0883bc;
$blueLight: #4bb5d5;

@import "application";