$headerBg: #0077bd;
$linkColor: #ff7241;
$btnBlueTopColor: #ff7241;
$defaultFontFamily: 'brandon_grotesquelight', Lato, Arial, sans-serif;
$latoFontFamily: $defaultFontFamily;

@import "application";
